In [1]:
import datetime
import pytz
import pandas as pd
def export_csv(df,name):
  now = datetime.datetime.now().astimezone(pytz.timezone('Asia/Taipei'))
  formatted_time = now.strftime('%Y-%m-%d %H時%M分%S秒')
  df.to_csv('predict_data/'+ name + '_' + formatted_time + ".csv", index=False,encoding="utf_8_sig")

In [6]:
raw_data = pd.read_csv(r'train_data/boy or girl 2024 train_missingValue.csv')
raw_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,2,處女座,Apple,154.0,43.0,2.0,180.0,583.0,0,Beautiful
1,2,2,處女座,NaN,156.0,47.0,2.0,130.0,400.0,3.5,Enjoying being who I'm notsss
2,3,1,射手座,Android,170.0,61.0,3.0,90.0,540.0,5,Practice Makes perfect
3,4,1,射手座,Apple,170.0,62.0,4.0,100.0,173.0,5,Straightforward
4,5,2,射手座,Android,158.0,NaN,3.0,NaN,NaN,1.2,Humorous
...,...,...,...,...,...,...,...,...,...,...,...
418,419,1,處女座,Android,166.0,66.0,4.0,90.0,1000.0,1,I hope i am a super hero.
419,420,1,牡羊座,Android,176.0,65.0,4.0,87.0,1300.0,2,God damn dope
420,421,1,天秤座,Apple,174.0,72.0,NaN,NaN,NaN,NaN,Sunny
421,422,2,天蠍座,Apple,167.0,50.0,3.0,180.0,483.0,10,Light
422,423,1,雙魚座,Android,NaN,68.0,3.0,66.0,300.0,NaN,super 666666

In [4]:
test_data = pd.read_csv(r'test_data/boy or girl 2024 test no ans_missingValue.csv')
test_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,0,天蠍座,Apple,NaN,100.0,1.0,87.000,87.0,87.0,GOod
1,2,0,金牛座,Apple,175.0,80.0,3.0,130.000,2000.0,30.0,Easygoing
2,3,0,雙子座,Apple,155.0,45.0,3.0,150.000,400.0,9.0,I LOVE INTEL
3,4,0,處女座,Apple,173.0,85.0,4.0,100.000,2000.0,15.0,"I'm a hard-work man, just do my best to finish..."
4,5,0,射手座,Android,164.0,57.0,4.0,130.000,505.0,2.0,I'm smart
...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,處女座,Android,160.0,48.0,3.0,75.000,98.0,2.0,Starting by Starting
391,392,0,NaN,Apple,170.0,NaN,NaN,105.000,510.0,NaN,A little bit smart
392,393,0,金牛座,Apple,160.0,45.0,4.0,100.000,600.0,2000.0,Hi
393,394,0,巨蟹座,NaN,180.0,NaN,NaN,199.999,NaN,60.0,"I'm not beautiful, but smart 😀"
394,395,0,射手座,Apple,175.0,69.0,5.0,135.000,200.0,1400.0,Like the shadow

### catboost

In [7]:
import pandas as pd
knn_train = pd.read_csv(r'train_data/ExtraTreesRegressor_modified_with_bmi.csv')
knn_train

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi
0,1.0,2,7.0,0.0,154.00,43.0,2.0,180.0,583.0,0.0000,18.131219
1,2.0,2,7.0,0.0,156.00,47.0,2.0,130.0,400.0,3.5000,19.312952
2,3.0,1,10.0,1.0,170.00,61.0,3.0,90.0,540.0,5.0000,21.107266
3,4.0,1,10.0,0.0,170.00,62.0,4.0,100.0,173.0,5.0000,21.453287
4,5.0,2,10.0,1.0,158.00,67.0,3.0,125.2,370.0,1.2000,26.838648
...,...,...,...,...,...,...,...,...,...,...,...
418,419.0,1,7.0,1.0,166.00,66.0,4.0,90.0,1000.0,1.0000,23.951227
419,420.0,1,2.0,1.0,176.00,65.0,4.0,87.0,1300.0,2.0000,20.983988
420,421.0,1,8.0,0.0,174.00,72.0,4.2,147.3,995.5,20.1200,23.781213
421,422.0,2,9.0,0.0,167.00,50.0,3.0,180.0,483.0,10.0000,17.928215
422,423.0,1,1.0,1.0,172.25,68.0,3.0,66.0,300.0,1.6387,22.918725

In [8]:
df = pd.merge(knn_train, raw_data[['id', 'self_intro']], on='id', how='left')
df

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi,self_intro
0,1.0,2,7.0,0.0,154.00,43.0,2.0,180.0,583.0,0.0000,18.131219,Beautiful
1,2.0,2,7.0,0.0,156.00,47.0,2.0,130.0,400.0,3.5000,19.312952,Enjoying being who I'm notsss
2,3.0,1,10.0,1.0,170.00,61.0,3.0,90.0,540.0,5.0000,21.107266,Practice Makes perfect
3,4.0,1,10.0,0.0,170.00,62.0,4.0,100.0,173.0,5.0000,21.453287,Straightforward
4,5.0,2,10.0,1.0,158.00,67.0,3.0,125.2,370.0,1.2000,26.838648,Humorous
...,...,...,...,...,...,...,...,...,...,...,...,...
418,419.0,1,7.0,1.0,166.00,66.0,4.0,90.0,1000.0,1.0000,23.951227,I hope i am a super hero.
419,420.0,1,2.0,1.0,176.00,65.0,4.0,87.0,1300.0,2.0000,20.983988,God damn dope
420,421.0,1,8.0,0.0,174.00,72.0,4.2,147.3,995.5,20.1200,23.781213,Sunny
421,422.0,2,9.0,0.0,167.00,50.0,3.0,180.0,483.0,10.0000,17.928215,Light
422,423.0,1,1.0,1.0,172.25,68.0,3.0,66.0,300.0,1.6387,22.918725,super 666666

In [9]:
import re
import numpy as np
# 情緒字典標記函數
emotion_keywords = {
    1: ['boy', 'girlfriend', 'man','handsome','87','loser','dxxk','ggininder','fantastic','loser'],  # 男生關鍵詞列表
    -1: ['girl', 'pretty','beautiful','adorable','>.0','cuuuuuuute']  # 女生關鍵詞列表
}

def emotion_label(text):
    # 检查是否为有效字符串或字节对象
    if isinstance(text, str) or isinstance(text, bytes):
        

        # 分词
        words = re.findall(r'\b\w+\b', text)

        # 检查正面情绪关键词
        if any(word in emotion_keywords[1] for word in words):
            return 1

        # 检查负面情绪关键词
        if any(word in emotion_keywords[-1] for word in words):
            return -1
        # 中文检查
        if re.search(r'[\u4e00-\u9fff]+', text):
            return 1
    # 如果不是有效的字符串或字节对象，返回中性情绪标签
    return 0

In [10]:
df['self_intro'] = df['self_intro'].str.lower()
df['emotion'] = np.vectorize(emotion_label)(df['self_intro'])
df

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi,self_intro,emotion
0,1.0,2,7.0,0.0,154.00,43.0,2.0,180.0,583.0,0.0000,18.131219,beautiful,-1
1,2.0,2,7.0,0.0,156.00,47.0,2.0,130.0,400.0,3.5000,19.312952,enjoying being who i'm notsss,0
2,3.0,1,10.0,1.0,170.00,61.0,3.0,90.0,540.0,5.0000,21.107266,practice makes perfect,0
3,4.0,1,10.0,0.0,170.00,62.0,4.0,100.0,173.0,5.0000,21.453287,straightforward,0
4,5.0,2,10.0,1.0,158.00,67.0,3.0,125.2,370.0,1.2000,26.838648,humorous,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,419.0,1,7.0,1.0,166.00,66.0,4.0,90.0,1000.0,1.0000,23.951227,i hope i am a super hero.,0
419,420.0,1,2.0,1.0,176.00,65.0,4.0,87.0,1300.0,2.0000,20.983988,god damn dope,0
420,421.0,1,8.0,0.0,174.00,72.0,4.2,147.3,995.5,20.1200,23.781213,sunny,0
421,422.0,2,9.0,0.0,167.00,50.0,3.0,180.0,483.0,10.0000,17.928215,light,0
422,423.0,1,1.0,1.0,172.25,68.0,3.0,66.0,300.0,1.6387,22.918725,super 666666,0

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold
import numpy as np

# 假设df是您的DataFrame

# 准备特征和目标变量
X = df[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'fb_friends', 'yt', 'bmi', 'emotion']]
#X = df[['height', 'weight', 'sleepiness','bmi', 'emotion']]
y = df['gender'] - 1  # 确保类别标签从0开始

# 创建交叉验证器
cv = StratifiedKFold(n_splits=5)

# 特征预处理的管道，注意CatBoost不在这里
preprocessing_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # 缺失值处理
    ('scaler', StandardScaler()),  # 特征缩放
    ('feature_selection', SelectKBest(f_classif, k='all')),  # 特征选择
])

# 用于存储每次交叉验证的准确率
scores = []

for train_index, test_index in cv.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    # 拟合预处理管道
    X_train_transformed = preprocessing_pipeline.fit_transform(X_train, y_train)
    X_test_transformed = preprocessing_pipeline.transform(X_test)
    
    # 准备特征权重，假设emotion是最后一个特征
    feature_weights = [1] * (X_train_transformed.shape[1] - 1) + [1]  # 将emotion特征的权重设置为30倍
    
    # 定义CatBoost模型
    catboost = CatBoostClassifier(verbose=0, auto_class_weights='Balanced', feature_weights=feature_weights)
    
    # 拟合CatBoost模型
    catboost.fit(X_train_transformed, y_train)
    
    # 预测并计算准确率
    y_pred = catboost.predict(X_test_transformed)
    accuracy = accuracy_score(y_test, y_pred)
    scores.append(accuracy)

# 打印每次交叉验证的准确率以及平均准确率
print('每次交叉验证的准确率:', scores)
print('平均准确率:', np.mean(scores))

每次交叉验证的准确率: [0.8588235294117647, 0.9294117647058824, 0.9529411764705882, 0.9047619047619048, 0.9285714285714286]
平均准确率: 0.9149019607843136

In [13]:
# 读取测试数据并预处理
knn_test = pd.read_csv(r'test_data/test_KNN_without_outlierBNI.csv')
knn_test['self_intro'] = knn_test['self_intro'].str.lower()
knn_test['emotion'] = np.vectorize(emotion_label)(knn_test['self_intro'])

# 提取需要的特征列
X_knn_test = knn_test[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'fb_friends', 'yt', 'bmi', 'emotion']]
#X_knn_test = knn_test[['height', 'weight', 'sleepiness','bmi', 'emotion']]

# 使用预处理管道对测试数据进行转换
X_knn_test_transformed = preprocessing_pipeline.transform(X_knn_test)

# 使用 CatBoost 模型进行预测
y_knn_pred = catboost.predict(X_knn_test_transformed)

# 添加预测结果到测试数据中
output = knn_test[['id']].copy()
output['gender'] = y_knn_pred + 1  # 因为模型中类别标签从0开始，需要加1得到实际类别

# 显示包含预测结果的测试数据
output.head(50)

    id  gender
0    1       2
1    2       2
2    3       2
3    4       2
4    5       2
5    6       2
6    7       2
7    8       2
8    9       2
9   10       2
10  11       2
11  12       2
12  13       2
13  14       2
14  15       2
15  16       2
16  17       2
17  18       2
18  19       2
19  20       2
20  21       2
21  22       2
22  23       2
23  24       2
24  25       2
25  26       2
26  27       2
27  28       2
28  29       2
29  30       2
30  31       2
31  32       2
32  33       2
33  34       2
34  35       2
35  36       2
36  37       2
37  38       2
38  39       2
39  40       2
40  41       2
41  42       2
42  43       2
43  44       2
44  45       2
45  46       2
46  47       2
47  48       2
48  49       2
49  50       2

In [14]:
export_csv(output,'0404_CatBoost_Sentiment_Dictionary')

In [10]:
test_data_copy = test_data.copy() 
test_data_copy.loc[:, 'gender'] = output['gender']

cleaned_test_data = test_data_copy.dropna(subset=['self_intro'])
cleaned_test_data.loc[:, 'self_intro'] = cleaned_test_data['self_intro'].str.lower()

# 使用 str.contains 方法查找包含 關鍵字
#info_data = cleaned_test_data[cleaned_test_data['self_intro'].str.contains('good')]

# 找出所有na
#info_data = cleaned_test_data[cleaned_test_data.isna().any(axis=1)]
info_data = cleaned_test_data[cleaned_test_data['height'] < 160]
# 输出符合条件的数据
info_data.head(50)

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
2,3,2,雙子座,Apple,155.00,45.00,3.0,150.0,400.0,9.000000e+00,i love intel
17,18,2,摩羯座,Android,159.00,46.00,2.0,87.0,823.0,2.000000e-02,versatile
31,32,2,雙魚座,Apple,153.00,52.00,4.0,180.0,465.0,7.600000e+00,aggressive
35,36,2,牡羊座,Android,150.00,45.00,4.0,80.0,200.0,5.000000e-01,fabulous
48,49,2,天蠍座,Android,156.00,50.00,2.0,110.0,873.0,1.000000e+00,hi
51,52,1,雙子座,Windows phone,87.87,87.87,1.0,87.0,87.0,8.700000e+01,nothing
70,71,2,巨蟹座,Android,158.00,53.00,2.0,100.0,600.0,1.178000e+01,allergic to humans.
75,76,2,天蠍座,Android,156.00,50.00,5.0,120.0,484.0,5.000000e+00,amazing
105,106,2,天蠍座,Apple,159.00,56.00,5.0,200.0,150.0,4.000000e+00,i am very smart.
115,116,2,天秤座,Apple,159.00,50.00,4.0,120.0,100.0,6.400000e+01,sexy
126,127,1,牡羊座,Android,52.00,29.00,1.0,51.0,4.0,9.700000e+02,txt
130,131,2,雙魚座,Apple,155.00,53.00,4.0,120.0,900.0,1.600000e+00,positive
132,133,2,天蠍座,Android,155.00,49.00,2.0,110.0,555.0,9.930000e+00,i am a girl
144,145,2,獅子座,Android,151.00,56.00,5.0,110.0,42.0,1.500000e-01,i am a methodical person.
147,148,2,水瓶座,Android,150.00,48.00,2.0,120.0,700.0,5.000000e-01,keep going until reach the goal.
153,154,2,巨蟹座,Apple,152.00,42.00,1.0,200.0,500.0,2.000000e+01,good
160,161,2,雙子座,Android,157.00,46.00,1.0,180.0,700.0,1.040000e+00,i am a student.
162,163,2,巨蟹座,Android,158.00,47.00,2.0,130.0,200.0,3.000000e+00,a boring guy
164,165,2,獅子座,Android,150.00,40.00,1.0,100.0,1100.0,1.100000e+01,beautiful
173,174,2,雙子座,Android,158.00,44.00,5.0,120.0,350.0,1.290000e-01,adorable
179,180,1,金牛座,Android,158.00,48.00,4.0,120.0,750.0,1.000000e+01,handsome
189,190,2,雙魚座,Apple,159.00,40.00,5.0,180.0,2000.0,2.000000e+00,free
192,193,2,水瓶座,Apple,158.00,53.00,3.0,99.0,1080.0,3.200000e+01,entusiasm
200,201,2,金牛座,Apple,155.00,46.00,4.0,200.0,600.0,2.000000e+00,passion
201,202,2,摩羯座,Android,155.00,40.00,2.0,110.0,300.0,1.000000e+00,nice
208,209,2,水瓶座,Apple,158.00,53.00,3.0,99.0,1080.0,3.200000e+01,entusiasm
213,214,2,牡羊座,Apple,158.00,50.00,3.0,140.0,500.0,1.000000e+01,pretty
219,220,2,處女座,Apple,159.00,45.00,3.0,122.0,0.0,1.111100e+10,i am fat
227,228,2,摩羯座,Apple,155.00,65.00,5.0,120.0,717.0,4.060000e+01,sophisticated but also innocent
254,255,2,雙魚座,Apple,155.00,46.00,2.0,100.0,341.0,1.000000e+01,pessimistic
264,265,2,金牛座,Apple,158.00,60.00,2.0,200.0,300.0,2.000000e+00,easy-going
271,272,2,巨蟹座,Apple,157.00,50.00,2.0,100.0,100.0,2.300000e-01,i am okay.
293,294,2,牡羊座,Apple,152.00,41.00,4.0,105.0,400.0,6.430000e+02,a friendly person.
296,297,2,雙魚座,Apple,154.00,47.00,4.0,105.0,1203.0,6.700000e+00,being worried all the time
301,302,2,雙子座,Android,156.30,40.00,3.0,105.0,220.0,9.380000e+00,hope in the dark
302,303,2,處女座,Apple,157.00,65.00,5.0,105.0,2016.0,1.000000e+01,i am a student of master degree in graduate in...
308,309,2,雙魚座,Android,150.00,50.00,2.0,140.0,1100.0,5.000000e+00,"lovely, friendly and sometimes crazy"
310,311,1,水瓶座,Android,157.00,63.00,2.0,50.0,30.0,5.000000e+01,who am i
313,314,2,巨蟹座,Apple,158.00,53.00,2.0,130.0,516.0,6.610000e+01,"i don't know who i am,but i know who will i be..."
320,321,2,處女座,Android,154.00,45.00,3.0,130.0,800.0,2.000000e+00,introverted
331,332,2,射手座,Apple,157.00,53.00,4.0,140.0,500.0,5.140000e+01,try to be a learned person.
333,334,2,天蠍座,Android,155.00,50.00,1.0,50.0,0.0,0.000000e+00,i want to sleep.
340,341,2,金牛座,Apple,157.00,50.00,3.0,120.0,736.0,1.600000e+03,i am difficult to understand
343,344,2,水瓶座,Android,158.00,48.00,4.0,150.0,500.0,7.000000e+00,kind and friendly
353,354,2,處女座,Apple,154.00,51.00,2.0,180.0,312.0,7.940000e+02,wonderful
354,355,2,天蠍座,Android,155.00,0.00,2.0,135.0,350.0,1.200000e+01,adorable
359,360,2,摩羯座,Apple,151.00,50.00,4.0,110.0,700.0,1.000000e+00,brave
363,364,2,獅子座,Apple,158.00,50.00,1.0,180.0,610.0,2.120000e+00,smart
371,372,2,射手座,Apple,158.00,NaN,4.0,NaN,NaN,3.920000e+01,i’m a diligent person.
383,384,2,雙魚座,Android,151.00,65.00,2.0,125.0,238.0,1.000000e+00,a person who is afraid of challenges but still...

In [11]:
#ids_to_filter = [55, 78, 100, 271]
ids_to_filter = [56,78,89,127,138,160,180,223,224,271,280,317,394]
# ids_to_filter = [55]
info_data = cleaned_test_data[cleaned_test_data['id'].isin(ids_to_filter)]
info_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
55,56,1,NaN,Android,NaN,56.0,3.0,NaN,589.0,0.000000,i am so cuuuuuuute!
77,78,1,NaN,Apple,173.0,58.0,4.0,NaN,NaN,2.000000,i am a girl.
88,89,1,天秤座,Android,200000.0,450000.0,2.0,180.000,345000000.0,0.000033,i am so cute
126,127,1,牡羊座,Android,52.0,29.0,1.0,51.000,4.0,970.000000,txt
137,138,2,天秤座,NaN,NaN,43.0,NaN,180.000,600.0,NaN,cute
159,160,1,獅子座,Apple,170.0,49.0,4.0,200.000,1000.0,100.000000,a bully
179,180,1,金牛座,Android,158.0,48.0,4.0,120.000,750.0,10.000000,handsome
222,223,1,雙魚座,Apple,380.0,380.0,5.0,60.000,0.0,500.000000,random
223,224,1,NaN,Android,183.0,70.0,5.0,NaN,NaN,6666.000000,boiiiiiii
270,271,1,天秤座,Android,163.0,1.0,2.0,111.000,190.0,0.000000,>.0啾咪
279,280,2,巨蟹座,Apple,166.0,0.0,4.0,100.000,200.0,1.000000,positive
316,317,1,天秤座,Apple,NaN,NaN,5.0,90.000,NaN,2.000000,clever
393,394,1,巨蟹座,NaN,180.0,NaN,NaN,199.999,NaN,60.000000,"i'm not beautiful, but smart 😀"

In [123]:
#CatBoost_Sentiment_Dictionary_with人工標記
#55 1 to 2
#78 1 to 2
#100 1 to 2
#271 1 to 2

In [12]:
import pandas as pd

# 读取两个文件
#high = pd.read_csv(r'predict_data/CatBoost_Sentiment_Dictionary_with人工標記.csv')
catBoost = pd.read_csv(r'predict_data/CatBoost_Sentiment_Dictionary_2024-04-02 01時53分52秒.csv')
try_CatBoost = pd.read_csv(r'predict_data/try_CatBoost_Sentiment_Dictionary_2024-04-02 13時21分56秒.csv')
# 合并两个 DataFrame，根据 id 列进行合并
merged = pd.merge(catBoost, try_CatBoost, on='id', suffixes=('_high', '_low'))

# 找出 gender 不同的行
different_gender = merged[merged['gender_high'] != merged['gender_low']]

# 打印结果
print(different_gender)

      id  gender_high  gender_low
8      9            2           1
30    31            1           2
44    45            2           1
46    47            1           2
52    53            1           2
73    74            1           2
86    87            1           2
87    88            1           2
99   100            1           2
126  127            1           2
146  147            1           2
184  185            1           2
195  196            2           1
206  207            1           2
235  236            2           1
252  253            1           2
261  262            1           2
300  301            1           2
310  311            1           2
324  325            1           2
357  358            2           1
358  359            1           2
386  387            2           1

In [14]:
ids_to_filter = [55, 78, 100, 271]
# ids_to_filter = [55]
info_data = cleaned_test_data[cleaned_test_data['id'].isin(different_gender['id'])]
info_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
8,9,1,天蠍座,Apple,165.0,46.0,4.0,111.0,200.0,5.000,i am a student.
30,31,2,巨蟹座,Android,170.0,57.0,4.0,167.0,437.0,0.008,versatile guy
44,45,1,雙魚座,Apple,165.0,45.0,5.0,80.0,869.0,5.000,introvert
46,47,2,天秤座,Android,172.0,52.0,2.0,200.0,488.0,1.600,for honor
52,53,2,天蠍座,Apple,169.0,60.0,4.0,100.0,300.0,5.000,student in nthu
73,74,2,處女座,Android,NaN,60.0,NaN,87.0,10.0,83.980,mumi
86,87,2,水瓶座,Android,168.0,55.0,4.0,180.0,567.0,23.000,very nice.
87,88,2,金牛座,Apple,170.0,56.0,4.0,180.0,494.0,9.200,awesome!
99,100,2,牡羊座,Apple,173.0,53.0,1.0,200.0,1000.0,25.000,im cute
126,127,2,牡羊座,Android,52.0,29.0,1.0,51.0,4.0,970.000,txt
146,147,2,水瓶座,Apple,161.0,68.0,3.0,50.0,200.0,0.000,i'm a good person
184,185,2,射手座,Apple,163.0,64.0,5.0,100.0,350.0,5.000,content
195,196,1,處女座,Android,167.0,52.0,4.0,120.0,320.0,5.000,maymay
206,207,2,摩羯座,Apple,169.0,58.0,3.0,55.0,1.0,0.000,uuuu
235,236,1,射手座,Apple,165.0,50.0,4.0,100.0,1000.0,10.000,hello world
252,253,2,天蠍座,Apple,163.0,73.0,3.0,110.0,1028.0,263.000,i am doing the best i can.
261,262,2,水瓶座,Android,165.0,51.0,3.0,100.0,30.0,1.000,living human
300,301,2,金牛座,Apple,160.0,76.0,5.0,100.0,0.0,10.000,entrepreneur who intent to learn again
310,311,2,水瓶座,Android,157.0,63.0,2.0,50.0,30.0,50.000,who am i
324,325,2,NaN,NaN,NaN,52.0,NaN,90.0,800.0,NaN,good person
357,358,1,牡羊座,Apple,169.0,54.0,4.0,120.0,260.0,3.000,"if you know, you know."
358,359,2,金牛座,Android,169.0,54.0,2.0,200.0,700.0,50.000,i love frieren
386,387,1,摩羯座,Apple,153.0,60.0,2.0,150.0,700.0,2.000,可愛

In [59]:
##有問題資料
# 394 (I'm not beautiful, but smart)
# 16 (A young girl)
# 78 (I am a girl)
# 13 (Adorable)
# 55 (I'm a "Typical Lady".)
# 56 (I am so cuuuuuuute!)
# 100 (im cute)
# 189 (沒資料)
# 271 (>.0)

In [25]:
data_with_chinese = test_data[test_data['self_intro'].str.contains(r'[\u4e00-\u9fff]+', na=False)]
data_with_chinese

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
102,103,0,巨蟹座,Apple,172.0,90.0,4.0,120.0,100.0,0.3,認真的男人
103,104,0,金牛座,Android,173.0,84.0,5.0,150.0,250.0,10.0,開朗樂觀
244,245,0,巨蟹座,Apple,178.0,73.0,4.0,145.0,135.0,200.0,懶
270,271,0,天秤座,Android,163.0,1.0,2.0,111.0,190.0,0.0,>.0啾咪
386,387,0,摩羯座,Apple,153.0,60.0,2.0,150.0,700.0,2.0,可愛