In [31]:
import datetime
import pytz
def export_csv(df):
  now = datetime.datetime.now().astimezone(pytz.timezone('Asia/Taipei'))
  formatted_time = now.strftime('%Y-%m-%d %HÊôÇ%MÂàÜ%SÁßí')
  df.to_csv(formatted_time + "predict.csv", index=False,encoding="utf_8_sig")
  # df.to_csv(corpus_root + formatted_time + "predict.csv", index=False,encoding="utf_8_sig")

In [22]:
test_data = pd.read_csv(r'boy or girl 2024 test no ans_missingValue.csv')
test_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,0,Â§©Ë†çÂ∫ß,Apple,NaN,100.0,1.0,87.000,87.0,87.0,GOod
1,2,0,ÈáëÁâõÂ∫ß,Apple,175.0,80.0,3.0,130.000,2000.0,30.0,Easygoing
2,3,0,ÈõôÂ≠êÂ∫ß,Apple,155.0,45.0,3.0,150.000,400.0,9.0,I LOVE INTEL
3,4,0,ËôïÂ•≥Â∫ß,Apple,173.0,85.0,4.0,100.000,2000.0,15.0,"I'm a hard-work man, just do my best to finish..."
4,5,0,Â∞ÑÊâãÂ∫ß,Android,164.0,57.0,4.0,130.000,505.0,2.0,I'm smart
...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,ËôïÂ•≥Â∫ß,Android,160.0,48.0,3.0,75.000,98.0,2.0,Starting by Starting
391,392,0,NaN,Apple,170.0,NaN,NaN,105.000,510.0,NaN,A little bit smart
392,393,0,ÈáëÁâõÂ∫ß,Apple,160.0,45.0,4.0,100.000,600.0,2000.0,Hi
393,394,0,Â∑®ËüπÂ∫ß,NaN,180.0,NaN,NaN,199.999,NaN,60.0,"I'm not beautiful, but smart üòÄ"
394,395,0,Â∞ÑÊâãÂ∫ß,Apple,175.0,69.0,5.0,135.000,200.0,1400.0,Like the shadow

### catboost

In [11]:
raw_data = pd.read_csv(r'boy or girl 2024 train_missingValue.csv')
raw_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,2,ËôïÂ•≥Â∫ß,Apple,154.0,43.0,2.0,180.0,583.0,0,Beautiful
1,2,2,ËôïÂ•≥Â∫ß,NaN,156.0,47.0,2.0,130.0,400.0,3.5,Enjoying being who I'm notsss
2,3,1,Â∞ÑÊâãÂ∫ß,Android,170.0,61.0,3.0,90.0,540.0,5,Practice Makes perfect
3,4,1,Â∞ÑÊâãÂ∫ß,Apple,170.0,62.0,4.0,100.0,173.0,5,Straightforward
4,5,2,Â∞ÑÊâãÂ∫ß,Android,158.0,NaN,3.0,NaN,NaN,1.2,Humorous
...,...,...,...,...,...,...,...,...,...,...,...
418,419,1,ËôïÂ•≥Â∫ß,Android,166.0,66.0,4.0,90.0,1000.0,1,I hope i am a super hero.
419,420,1,Áâ°ÁæäÂ∫ß,Android,176.0,65.0,4.0,87.0,1300.0,2,God damn dope
420,421,1,Â§©Áß§Â∫ß,Apple,174.0,72.0,NaN,NaN,NaN,NaN,Sunny
421,422,2,Â§©Ë†çÂ∫ß,Apple,167.0,50.0,3.0,180.0,483.0,10,Light
422,423,1,ÈõôÈ≠öÂ∫ß,Android,NaN,68.0,3.0,66.0,300.0,NaN,super 666666

In [13]:
import pandas as pd
knn_train = pd.read_csv(r'KNN_withBMI.csv')
knn_train

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi
0,1,2,7.0,0,1.540,43.0,2.0,180.0,583.0,0.00,18.131219
1,2,2,7.0,0,1.560,47.0,2.0,130.0,400.0,3.50,19.312952
2,3,1,10.0,1,1.700,61.0,3.0,90.0,540.0,5.00,21.107266
3,4,1,10.0,0,1.700,62.0,4.0,100.0,173.0,5.00,21.453287
4,5,2,10.0,1,1.580,61.4,3.0,110.6,498.6,1.20,24.595417
...,...,...,...,...,...,...,...,...,...,...,...
417,419,1,7.0,1,1.660,66.0,4.0,90.0,1000.0,1.00,23.951227
418,420,1,2.0,1,1.760,65.0,4.0,87.0,1300.0,2.00,20.983988
419,421,1,8.0,0,1.740,72.0,3.6,155.6,260000350.0,2.10,23.781213
420,422,2,9.0,0,1.670,50.0,3.0,180.0,483.0,10.00,17.928215
421,423,1,1.0,1,1.716,68.0,3.0,66.0,300.0,1.26,23.092680

In [14]:
df = pd.merge(knn_train, raw_data[['id', 'self_intro']], on='id', how='left')
df

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi,self_intro
0,1,2,7.0,0,1.540,43.0,2.0,180.0,583.0,0.00,18.131219,Beautiful
1,2,2,7.0,0,1.560,47.0,2.0,130.0,400.0,3.50,19.312952,Enjoying being who I'm notsss
2,3,1,10.0,1,1.700,61.0,3.0,90.0,540.0,5.00,21.107266,Practice Makes perfect
3,4,1,10.0,0,1.700,62.0,4.0,100.0,173.0,5.00,21.453287,Straightforward
4,5,2,10.0,1,1.580,61.4,3.0,110.6,498.6,1.20,24.595417,Humorous
...,...,...,...,...,...,...,...,...,...,...,...,...
417,419,1,7.0,1,1.660,66.0,4.0,90.0,1000.0,1.00,23.951227,I hope i am a super hero.
418,420,1,2.0,1,1.760,65.0,4.0,87.0,1300.0,2.00,20.983988,God damn dope
419,421,1,8.0,0,1.740,72.0,3.6,155.6,260000350.0,2.10,23.781213,Sunny
420,422,2,9.0,0,1.670,50.0,3.0,180.0,483.0,10.00,17.928215,Light
421,423,1,1.0,1,1.716,68.0,3.0,66.0,300.0,1.26,23.092680,super 666666

In [28]:
import re
import numpy as np
# ÊÉÖÁ∑íÂ≠óÂÖ∏Ê®ôË®òÂáΩÊï∏
emotion_keywords = {
    1: ['boy', 'girlfriend', 'man','handsome','87','loser','dxxk','ggininder','fantastic','loser'],  # Áî∑ÁîüÈóúÈçµË©ûÂàóË°®
    -1: ['girl', 'pretty','beautiful','adorable']  # Â•≥ÁîüÈóúÈçµË©ûÂàóË°®
}

def emotion_label(text):
    # Ê£ÄÊü•ÊòØÂê¶‰∏∫ÊúâÊïàÂ≠óÁ¨¶‰∏≤ÊàñÂ≠óËäÇÂØπË±°
    if isinstance(text, str) or isinstance(text, bytes):
        # ‰∏≠ÊñáÊ£ÄÊü•
        if re.search(r'[\u4e00-\u9fff]+', text):
            return 1

        # ÂàÜËØç
        words = re.findall(r'\b\w+\b', text)

        # Ê£ÄÊü•Ê≠£Èù¢ÊÉÖÁª™ÂÖ≥ÈîÆËØç
        if any(word in emotion_keywords[1] for word in words):
            return 1

        # Ê£ÄÊü•Ë¥üÈù¢ÊÉÖÁª™ÂÖ≥ÈîÆËØç
        if any(word in emotion_keywords[-1] for word in words):
            return -1

    # Â¶ÇÊûú‰∏çÊòØÊúâÊïàÁöÑÂ≠óÁ¨¶‰∏≤ÊàñÂ≠óËäÇÂØπË±°ÔºåËøîÂõû‰∏≠ÊÄßÊÉÖÁª™Ê†áÁ≠æ
    return 0

In [29]:
df['self_intro'] = df['self_intro'].str.lower()
df['emotion'] = np.vectorize(emotion_label)(df['self_intro'])
df

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi,self_intro,emotion
0,1,2,7.0,0,1.540,43.0,2.0,180.0,583.0,0.00,18.131219,beautiful,-1
1,2,2,7.0,0,1.560,47.0,2.0,130.0,400.0,3.50,19.312952,enjoying being who i'm notsss,0
2,3,1,10.0,1,1.700,61.0,3.0,90.0,540.0,5.00,21.107266,practice makes perfect,0
3,4,1,10.0,0,1.700,62.0,4.0,100.0,173.0,5.00,21.453287,straightforward,0
4,5,2,10.0,1,1.580,61.4,3.0,110.6,498.6,1.20,24.595417,humorous,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,419,1,7.0,1,1.660,66.0,4.0,90.0,1000.0,1.00,23.951227,i hope i am a super hero.,0
418,420,1,2.0,1,1.760,65.0,4.0,87.0,1300.0,2.00,20.983988,god damn dope,0
419,421,1,8.0,0,1.740,72.0,3.6,155.6,260000350.0,2.10,23.781213,sunny,0
420,422,2,9.0,0,1.670,50.0,3.0,180.0,483.0,10.00,17.928215,light,0
421,423,1,1.0,1,1.716,68.0,3.0,66.0,300.0,1.26,23.092680,super 666666,0

In [30]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score


# ÂáÜÂ§áÁâπÂæÅÂíåÁõÆÊ†áÂèòÈáè
X = df[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'fb_friends', 'yt', 'bmi','emotion']]
y = df['gender'] - 1  # Á°Æ‰øùÁ±ªÂà´Ê†áÁ≠æ‰ªé0ÂºÄÂßã

# ÂÆö‰πâÁâπÂæÅÂêçÁß∞ÂàóË°®Ôºå‰ª•‰æøÂêéÁª≠ÊâìÂç∞
feature_names = X.columns

# ÂàõÂª∫‰∫§ÂèâÈ™åËØÅÂô®
cv = StratifiedKFold(n_splits=5)

# ÂàõÂª∫‰∏Ä‰∏™ÂåÖÂê´È¢ÑÂ§ÑÁêÜÊ≠•È™§ÂíåCatBoostÊ®°ÂûãÁöÑÁÆ°ÈÅì
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # Áº∫Â§±ÂÄºÂ§ÑÁêÜ
    ('scaler', StandardScaler()),  # ÁâπÂæÅÁº©Êîæ
    ('feature_selection', SelectKBest(f_classif, k='all')),  # ÁâπÂæÅÈÄâÊã©
    ('catboost', CatBoostClassifier(verbose=0, auto_class_weights='Balanced'))  # CatBoostÊ®°Âûã
])

# Áî®‰∫éÂ≠òÂÇ®ÊØèÊ¨°‰∫§ÂèâÈ™åËØÅÁöÑÂáÜÁ°ÆÁéá
scores = []

for train_index, test_index in cv.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    # ÊãüÂêàÁÆ°ÈÅì
    pipeline.fit(X_train, y_train)
    
    # È¢ÑÊµãÂπ∂ËÆ°ÁÆóÂáÜÁ°ÆÁéá
    y_pred = pipeline.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    scores.append(accuracy)
    
    # Ëé∑ÂèñÈÄâ‰∏≠ÁöÑÁâπÂæÅ
    support = pipeline.named_steps['feature_selection'].get_support()
    selected_features = feature_names[support]
    
    print("Selected features:", selected_features)

# ÊâìÂç∞ÊØèÊ¨°‰∫§ÂèâÈ™åËØÅÁöÑÂáÜÁ°ÆÁéá‰ª•ÂèäÂπ≥ÂùáÂáÜÁ°ÆÁéá
print('ÊØèÊ¨°‰∫§ÂèâÈ™åËØÅÁöÑÂáÜÁ°ÆÁéá:', scores)
print('Âπ≥ÂùáÂáÜÁ°ÆÁéá:', sum(scores) / len(scores))

Selected features: Index(['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq',
       'fb_friends', 'yt', 'bmi', 'emotion'],
      dtype='object')
Selected features: Index(['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq',
       'fb_friends', 'yt', 'bmi', 'emotion'],
      dtype='object')
Selected features: Index(['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq',
       'fb_friends', 'yt', 'bmi', 'emotion'],
      dtype='object')
Selected features: Index(['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq',
       'fb_friends', 'yt', 'bmi', 'emotion'],
      dtype='object')
Selected features: Index(['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq',
       'fb_friends', 'yt', 'bmi', 'emotion'],
      dtype='object')
ÊØèÊ¨°‰∫§ÂèâÈ™åËØÅÁöÑÂáÜÁ°ÆÁéá: [0.8235294117647058, 0.9058823529411765, 0.9404761904761905, 0.7976190476190477, 0.9285714285714286]
Âπ≥ÂùáÂáÜÁ°ÆÁéá: 0.8792156862745099

In [34]:
knn_test = pd.read_csv(r'test_KNN_without_outlierBNI.csv')
knn_test['self_intro'] = knn_test['self_intro'].str.lower()
knn_test['emotion'] = np.vectorize(emotion_label)(knn_test['self_intro'])
knn_test

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro,bmi,emotion
0,1,0,9.0,0.0,1.59974,100.0,1.0,87.000,87.0,87.0,good,39.075198,0
1,2,0,3.0,0.0,1.75000,80.0,3.0,130.000,1450.0,30.0,easygoing,26.122449,0
2,3,0,4.0,0.0,1.55000,45.0,3.0,150.000,400.0,9.0,i love intel,18.730489,0
3,4,0,7.0,0.0,1.73000,85.0,4.0,100.000,1450.0,15.0,"i'm a hard-work man, just do my best to finish...",28.400548,1
4,5,0,10.0,1.0,1.64000,57.0,4.0,130.000,505.0,2.0,i'm smart,21.192742,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,7.0,1.0,1.60000,48.0,3.0,75.000,98.0,2.0,starting by starting,18.750000,0
391,392,0,4.8,0.0,1.70000,69.6,3.6,105.000,510.0,134.5,a little bit smart,24.083045,0
392,393,0,3.0,0.0,1.60000,45.0,4.0,100.000,600.0,134.5,hi,17.578125,0
393,394,0,5.0,0.6,1.80000,120.0,2.6,199.999,1450.0,60.0,"i'm not beautiful, but smart üòÄ",37.037037,-1
394,395,0,10.0,0.0,1.75000,69.0,5.0,135.000,200.0,134.5,like the shadow,22.530612,0

In [36]:
# ‰ΩøÁî® pipeline ÂØπÊµãËØïÊï∞ÊçÆËøõË°åÈ¢ÑÊµã
predictions = pipeline.predict(knn_test[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'fb_friends', 'yt', 'bmi','emotion']])

# Ê∑ªÂä†È¢ÑÊµãÁªìÊûúÂà∞ÊµãËØïÊï∞ÊçÆ‰∏≠
output = knn_test[['id']].copy()
output['gender'] = predictions + 1  # Âõ†‰∏∫Ê®°Âûã‰∏≠Á±ªÂà´Ê†áÁ≠æ‰ªé0ÂºÄÂßãÔºåÈúÄË¶ÅÂä†1ÂæóÂà∞ÂÆûÈôÖÁ±ªÂà´

# ÊòæÁ§∫ÂåÖÂê´È¢ÑÊµãÁªìÊûúÁöÑÊµãËØïÊï∞ÊçÆ
output

      id  gender
0      1       1
1      2       1
2      3       2
3      4       1
4      5       2
..   ...     ...
390  391       2
391  392       1
392  393       2
393  394       1
394  395       1

[395 rows x 2 columns]

In [37]:
export_csv(output)

In [42]:
validation = pd.read_csv(r'validation.csv')
# ÂâîÈô§Âê´Êúâ NA Êàñ NaN ÂÄºÁöÑË°å
cleaned_test_data = validation.dropna(subset=['self_intro'])

# ‰ΩøÁî® str.contains ÊñπÊ≥ïÊü•ÊâæÂåÖÂê´ 'fantastic' ÁöÑË°å
info_data = cleaned_test_data[cleaned_test_data['self_intro'].str.contains('beautiful')]

# ËæìÂá∫Á¨¶ÂêàÊù°‰ª∂ÁöÑÊï∞ÊçÆ
info_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro,gender.1
129,130,0,ÈõôÂ≠êÂ∫ß,Apple,162.0,45.0,3.0,100.000,556.0,0.9,I‚Äôm beautiful.,2
349,350,0,ÈõôÈ≠öÂ∫ß,Apple,165.0,49.0,3.0,150.000,100.0,4.0,Very beautiful,2
385,386,0,ÈáëÁâõÂ∫ß,Android,168.0,52.0,4.0,100.000,400.0,6.0,A beautiful girl,2
393,394,0,Â∑®ËüπÂ∫ß,NaN,180.0,NaN,NaN,199.999,NaN,60.0,"I'm not beautiful, but smart üòÄ",1

In [19]:
raw_data['self_intro'] = raw_data['self_intro'].str.lower()
info_data = raw_data[raw_data['self_intro'].str.contains('fantastic')]
info_data

Empty DataFrame
Columns: [id, gender, star_sign, phone_os, height, weight, sleepiness, iq, fb_friends, yt, self_intro]
Index: []

In [25]:
data_with_chinese = test_data[test_data['self_intro'].str.contains(r'[\u4e00-\u9fff]+', na=False)]
data_with_chinese

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
102,103,0,Â∑®ËüπÂ∫ß,Apple,172.0,90.0,4.0,120.0,100.0,0.3,Ë™çÁúüÁöÑÁî∑‰∫∫
103,104,0,ÈáëÁâõÂ∫ß,Android,173.0,84.0,5.0,150.0,250.0,10.0,ÈñãÊúóÊ®ÇËßÄ
244,245,0,Â∑®ËüπÂ∫ß,Apple,178.0,73.0,4.0,145.0,135.0,200.0,Êá∂
270,271,0,Â§©Áß§Â∫ß,Android,163.0,1.0,2.0,111.0,190.0,0.0,>.0ÂïæÂí™
386,387,0,Êë©ÁæØÂ∫ß,Apple,153.0,60.0,2.0,150.0,700.0,2.0,ÂèØÊÑõ