In [10]:
import datetime
import pytz
def export_csv(df,name):
  now = datetime.datetime.now().astimezone(pytz.timezone('Asia/Taipei'))
  formatted_time = now.strftime('%Y-%m-%d %HÊôÇ%MÂàÜ%SÁßí')
  df.to_csv('analysis_data/'+ name + '_' + formatted_time + ".csv", index=False,encoding="utf_8_sig")

In [1]:
import pandas as pd
# from google.colab import drive
# drive.mount('/content/drive', force_remount=True)
# corpus_root = 'drive/My Drive/Colab Notebooks/data science and machine learning/Boy or Girl/'
# raw_data = pd.read_csv(corpus_root+'boy or girl 2024 train_missingValue.csv')

raw_data = pd.read_csv("train_data/boy or girl 2024 train_missingValue.csv")
raw_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,2,ËôïÂ•≥Â∫ß,Apple,154.0,43.0,2.0,180.0,583.0,0,Beautiful
1,2,2,ËôïÂ•≥Â∫ß,NaN,156.0,47.0,2.0,130.0,400.0,3.5,Enjoying being who I'm notsss
2,3,1,Â∞ÑÊâãÂ∫ß,Android,170.0,61.0,3.0,90.0,540.0,5,Practice Makes perfect
3,4,1,Â∞ÑÊâãÂ∫ß,Apple,170.0,62.0,4.0,100.0,173.0,5,Straightforward
4,5,2,Â∞ÑÊâãÂ∫ß,Android,158.0,NaN,3.0,NaN,NaN,1.2,Humorous
...,...,...,...,...,...,...,...,...,...,...,...
418,419,1,ËôïÂ•≥Â∫ß,Android,166.0,66.0,4.0,90.0,1000.0,1,I hope i am a super hero.
419,420,1,Áâ°ÁæäÂ∫ß,Android,176.0,65.0,4.0,87.0,1300.0,2,God damn dope
420,421,1,Â§©Áß§Â∫ß,Apple,174.0,72.0,NaN,NaN,NaN,NaN,Sunny
421,422,2,Â§©Ë†çÂ∫ß,Apple,167.0,50.0,3.0,180.0,483.0,10,Light
422,423,1,ÈõôÈ≠öÂ∫ß,Android,NaN,68.0,3.0,66.0,300.0,NaN,super 666666

In [41]:
raw_data = raw_data.sort_values(by='gender')
raw_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
211,212,1,Â∑®ËüπÂ∫ß,Android,179.00,86.00,4.00,135.00,351.00,0.00015,peace
269,270,1,Êë©ÁæØÂ∫ß,NaN,180.00,100.00,5.00,120.00,NaN,0,A man with wisdom.
268,269,1,ÈáëÁâõÂ∫ß,Apple,176.00,76.00,4.00,100.00,10.00,10,Nice!
265,266,1,ÈáëÁâõÂ∫ß,Android,12.00,12.00,2.00,87.00,12.00,12,Re
264,265,1,Ê∞¥Áì∂Â∫ß,Apple,NaN,180.00,2.00,173.00,10000.00,88,Wise
...,...,...,...,...,...,...,...,...,...,...,...
278,279,2,Â§©Ë†çÂ∫ß,Apple,170.00,60.00,4.00,87.00,87.00,87,Normal
277,278,2,ÈáëÁâõÂ∫ß,NaN,NaN,NaN,3.00,NaN,0.00,10,I am a fat guy
117,118,2,Â∞ÑÊâãÂ∫ß,NaN,NaN,42.00,NaN,NaN,800.00,4.1,Never say never
89,90,2,ÈõôÂ≠êÂ∫ß,Android,161.00,80.00,2.00,110.00,150.00,3,Happy
0,1,2,ËôïÂ•≥Â∫ß,Apple,154.00,43.00,2.00,180.00,583.00,0,Beautiful

In [7]:
# test_data = pd.read_csv(corpus_root+'boy or girl 2024 test no ans_missingValue.csv')
test_data = pd.read_csv("boy or girl 2024 test no ans_missingValue.csv")
test_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,0,Â§©Ë†çÂ∫ß,Apple,NaN,100.0,1.0,87.000,87.0,87.0,GOod
1,2,0,ÈáëÁâõÂ∫ß,Apple,175.0,80.0,3.0,130.000,2000.0,30.0,Easygoing
2,3,0,ÈõôÂ≠êÂ∫ß,Apple,155.0,45.0,3.0,150.000,400.0,9.0,I LOVE INTEL
3,4,0,ËôïÂ•≥Â∫ß,Apple,173.0,85.0,4.0,100.000,2000.0,15.0,"I'm a hard-work man, just do my best to finish..."
4,5,0,Â∞ÑÊâãÂ∫ß,Android,164.0,57.0,4.0,130.000,505.0,2.0,I'm smart
...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,ËôïÂ•≥Â∫ß,Android,160.0,48.0,3.0,75.000,98.0,2.0,Starting by Starting
391,392,0,NaN,Apple,170.0,NaN,NaN,105.000,510.0,NaN,A little bit smart
392,393,0,ÈáëÁâõÂ∫ß,Apple,160.0,45.0,4.0,100.000,600.0,2000.0,Hi
393,394,0,Â∑®ËüπÂ∫ß,NaN,180.0,NaN,NaN,199.999,NaN,60.0,"I'm not beautiful, but smart üòÄ"
394,395,0,Â∞ÑÊâãÂ∫ß,Apple,175.0,69.0,5.0,135.000,200.0,1400.0,Like the shadow

### Ë®ìÁ∑¥ÈõÜÔºöÁî∑Â•≥ÊØî

In [8]:
gender_counts = raw_data['gender'].value_counts()
count_1 = gender_counts.get(1, 0)
count_2 = gender_counts.get(2, 0)

print("ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè:", count_1)
print("ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè:", count_2)
print("Á∏ΩÊï∏", count_1 + count_2)

ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè: 316
ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè: 107
Á∏ΩÊï∏ 423

### Ë®ìÁ∑¥ÈõÜÔºöÊòüÂ∫ßÁî∑Â•≥ÊØî

In [9]:
df = raw_data.copy()
df['gender'] = df['gender'].map({1: 'Áî∑ÊÄß', 2: 'Â•≥ÊÄß'})
gender_sign_ratio = df.groupby(['star_sign', 'gender']).size().unstack(fill_value=0)
gender_sign_total = gender_sign_ratio.sum(axis=1)
gender_sign_ratio['Á∏ΩÊï∏Èáè'] = gender_sign_total

gender_sign_ratio

gender     Â•≥ÊÄß  Áî∑ÊÄß  Á∏ΩÊï∏Èáè
star_sign
Â§©Áß§Â∫ß         9  34   43
Â§©Ë†çÂ∫ß         3  22   25
Â∞ÑÊâãÂ∫ß         7  17   24
Â∑®ËüπÂ∫ß         5  29   34
Êë©ÁæØÂ∫ß         7  28   35
Ê∞¥Áì∂Â∫ß         8  31   39
Áâ°ÁæäÂ∫ß         6  15   21
ÁçÖÂ≠êÂ∫ß        11  23   34
ËôïÂ•≥Â∫ß        13  18   31
ÈáëÁâõÂ∫ß         3  14   17
ÈõôÂ≠êÂ∫ß        11  20   31
ÈõôÈ≠öÂ∫ß         5  34   39

In [10]:
print("ÊòüÂ∫ßÁöÑÊï∏Èáè:", gender_sign_ratio['Á∏ΩÊï∏Èáè'].sum())

ÊòüÂ∫ßÁöÑÊï∏Èáè: 373

In [11]:
nan_count = raw_data[raw_data['star_sign'].isna()].shape[0] ## 50Á≠Ü

# ÊâæÂá∫star_signÊ¨Ñ‰ΩçÁÇ∫NaNÁöÑÂéüÂßãË≥áÊñôÂàó
nan_data = raw_data[raw_data['star_sign'].isna()]
nan_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
8,9,2,NaN,Android,NaN,52.00,2.0,100.0,NaN,5.34,I am quite.
20,21,2,NaN,Android,158.00,50.00,3.0,NaN,903.0,2,I am cute
21,22,1,NaN,NaN,NaN,50.00,4.0,115.0,NaN,NaN,Homo sapiens
27,28,2,NaN,NaN,163.00,60.00,3.0,NaN,160.0,NaN,Brilliant
32,33,1,NaN,Android,NaN,75.00,NaN,90.0,NaN,41,I just wanna run.
38,39,2,NaN,Apple,163.00,48.00,2.0,NaN,NaN,4,tired
47,48,1,NaN,NaN,NaN,80.00,3.0,120.0,50.0,0,interesting
62,63,1,NaN,Android,NaN,60.00,5.0,120.0,100.0,1,Good
71,72,2,NaN,NaN,155.00,53.00,NaN,NaN,300.0,NaN,BlingBling
87,88,2,NaN,Android,NaN,50.00,NaN,100.0,50.0,3,I am a nervous person.
88,89,2,NaN,NaN,160.00,NaN,3.0,145.0,NaN,NaN,Old
91,92,1,NaN,Apple,184.00,68.00,4.0,187.0,8787.0,NaN,Fuck you
99,100,1,NaN,Apple,NaN,55.00,NaN,NaN,0.0,100,Dank
100,101,1,NaN,Android,169.87,55.87,1.0,133.0,NaN,NaN,viewer
105,106,2,NaN,Apple,NaN,60.00,2.0,135.0,NaN,NaN,Brilliant
129,130,2,NaN,Android,152.70,40.00,4.0,100.0,877.0,0.65,Trying to live a better life!
135,136,1,NaN,Apple,165.00,80.00,2.0,130.0,400.0,0.5,123
138,139,1,NaN,Apple,181.00,NaN,5.0,200.0,NaN,50,I don‚Äôt know
142,143,2,NaN,Apple,155.00,48.00,3.0,NaN,1100.0,5,Hello world
156,157,1,NaN,Android,NaN,85.00,4.0,90.0,NaN,NaN,Zzzz
161,162,1,NaN,Android,164.00,66.00,NaN,115.0,623.0,1,Always smile
164,165,2,NaN,Android,154.00,46.00,5.0,NaN,NaN,0.01,Optimistic
201,202,1,NaN,Android,168.00,NaN,NaN,NaN,328.0,2,Fat man
207,208,1,NaN,NaN,179.00,73.00,4.0,101.0,NaN,15,Cool
215,216,1,NaN,Android,180.00,66.00,NaN,180.0,10.0,NaN,Smart
217,218,1,NaN,Android,164.00,66.00,2.0,115.0,NaN,1,Always smile
230,231,1,NaN,Android,173.00,58.00,5.0,130.0,200.0,38,Good Morning
234,235,1,NaN,Apple,NaN,73.00,4.0,NaN,400.0,15,Cool
242,243,1,NaN,Android,NaN,67.00,2.0,130.0,300.0,NaN,Awesome
255,256,1,NaN,NaN,171.00,73.00,NaN,NaN,200.0,500,Amazing
260,261,1,NaN,NaN,NaN,80.00,NaN,100.0,NaN,20,Good
270,271,1,NaN,NaN,-187.00,NaN,1.0,NaN,8787.0,0,Useless
276,277,1,NaN,Android,NaN,76.00,1.0,185.0,400.0,NaN,I have to leave on 7:40
279,280,1,NaN,Apple,177.00,NaN,1.0,NaN,600.0,20,I‚Äôm handsome
284,285,2,NaN,Android,155.00,46.00,2.0,87.0,NaN,NaN,Brilliant
286,287,2,NaN,Android,NaN,NaN,4.0,NaN,NaN,3,Red
294,295,1,NaN,NaN,NaN,NaN,2.0,140.0,NaN,4,Hello world
303,304,2,NaN,Android,NaN,78.00,NaN,200.0,NaN,999,Haha
317,318,1,NaN,Android,NaN,82.00,4.0,140.0,NaN,12.49,I'm a Jedi
326,327,1,NaN,Apple,177.00,55.00,NaN,120.0,NaN,NaN,I am fine
345,346,1,NaN,NaN,175.00,90.00,NaN,140.0,1060.0,NaN,Ordinary human.
348,349,1,NaN,Apple,179.00,63.00,4.0,NaN,150.0,3,I‚Äôm happy.
357,358,2,NaN,Apple,NaN,55.00,NaN,120.0,600.0,1,A commen person.
362,363,2,NaN,Apple,156.00,56.00,2.0,156.0,NaN,0,my name is Ellen.
363,364,2,NaN,Android,162.00,50.00,4.0,120.0,800.0,NaN,I wish I could be smarter.
371,372,2,NaN,NaN,168.00,60.00,3.0,132.0,300.0,NaN,I am a little fat
372,373,2,NaN,Apple,NaN,NaN,NaN,150.0,500.0,2,Happy girl
386,387,1,NaN,Apple,NaN,55.00,4.0,120.0,NaN,0.56,I am a sunshine boy.
392,393,1,NaN,Android,176.00,NaN,NaN,100.0,NaN,NaN,a man
402,403,1,NaN,NaN,176.00,70.00,4.0,NaN,330.0,NaN,Hmm

In [12]:
nan_data_gender_counts = nan_data['gender'].value_counts()
count_1 = nan_data_gender_counts.get(1, 0)
count_2 = nan_data_gender_counts.get(2, 0)
print("ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè:", count_1)
print("ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè:", count_2)
print("Á∏ΩÊï∏", count_1 + count_2)

ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè: 31
ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè: 19
Á∏ΩÊï∏ 50

### Ë®ìÁ∑¥ÈõÜÔºöÊâãÊ©üÁî∑Â•≥ÊØî

In [13]:
df = raw_data.copy()
df['gender'] = df['gender'].map({1: 'Áî∑ÊÄß', 2: 'Â•≥ÊÄß'})
gender_phone_os = df.groupby(['phone_os', 'gender']).size().unstack(fill_value=0)
gender_phone_os

gender    Â•≥ÊÄß   Áî∑ÊÄß
phone_os
Android   46  150
Apple     47  118
JohnCena   1    0

In [14]:
phone_os_nan_data = raw_data[raw_data["phone_os"].isna()]
phone_os_nan_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
1,2,2,ËôïÂ•≥Â∫ß,NaN,156.0,47.0,2.0,130.0,400.0,3.5,Enjoying being who I'm notsss
21,22,1,NaN,NaN,NaN,50.0,4.0,115.0,NaN,NaN,Homo sapiens
27,28,2,NaN,NaN,163.0,60.0,3.0,NaN,160.0,NaN,Brilliant
35,36,1,Êë©ÁæØÂ∫ß,NaN,162.0,43.0,5.0,180.0,6666.0,87,handsome
43,44,1,ËôïÂ•≥Â∫ß,NaN,175.0,50.0,5.0,100.0,469.0,NaN,I am fakes' fans
...,...,...,...,...,...,...,...,...,...,...,...
379,380,1,Ê∞¥Áì∂Â∫ß,NaN,166.0,70.0,NaN,110.0,400.0,14.32,I am a man with power to breath!
384,385,1,Â§©Áß§Â∫ß,NaN,171.0,60.0,4.0,NaN,NaN,0,Hi I am AI
398,399,1,ÁçÖÂ≠êÂ∫ß,NaN,NaN,NaN,5.0,NaN,471.0,NaN,handsome boy
402,403,1,NaN,NaN,176.0,70.0,4.0,NaN,330.0,NaN,Hmm
412,413,2,ËôïÂ•≥Â∫ß,NaN,154.0,51.0,3.0,NaN,347.0,0,foodie

In [15]:
phone_os_nan_data_count = phone_os_nan_data['gender'].value_counts()
count_1 = phone_os_nan_data_count.get(1, 0)
count_2 = phone_os_nan_data_count.get(2, 0)
print("ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè:", count_1)
print("ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè:", count_2)
print("Á∏ΩÊï∏", count_1 + count_2)

ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè: 48
ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè: 13
Á∏ΩÊï∏ 61

### Ë®ìÁ∑¥ÈõÜÔºöÊÉ≥Áù°Á®ãÂ∫¶Áî∑Â•≥ÊØî

In [16]:
df = raw_data.copy()
df['gender'] = df['gender'].map({1: 'Áî∑ÊÄß', 2: 'Â•≥ÊÄß'})
gender_sleepiness = df.groupby(['sleepiness', 'gender']).size().unstack(fill_value=0)
gender_sleepiness_total = gender_sleepiness.sum(axis=1)
gender_sleepiness['Á∏ΩÊï∏Èáè'] = gender_sleepiness_total
gender_sleepiness

gender      Â•≥ÊÄß  Áî∑ÊÄß  Á∏ΩÊï∏Èáè
sleepiness
1.0          6  24   30
2.0         18  47   65
3.0         30  60   90
4.0         15  68   83
5.0         19  60   79

In [17]:
gender_sleepiness_nan_data = raw_data[raw_data['sleepiness'].isna()]
gender_sleepiness_nan_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
13,14,1,Ê∞¥Áì∂Â∫ß,Android,168.0,53.0,NaN,100.0,300.0,2.5,Work hard play hard
14,15,2,ÈõôÂ≠êÂ∫ß,Apple,NaN,52.0,NaN,98.0,1200.0,2,Q
28,29,1,Ê∞¥Áì∂Â∫ß,Android,168.0,53.0,NaN,NaN,NaN,2.5,Work hard play hard
32,33,1,NaN,Android,NaN,75.0,NaN,90.0,NaN,41,I just wanna run.
40,41,1,Ê∞¥Áì∂Â∫ß,Android,165.0,47.0,NaN,105.0,800.0,NaN,Be happy
...,...,...,...,...,...,...,...,...,...,...,...
392,393,1,NaN,Android,176.0,NaN,NaN,100.0,NaN,NaN,a man
404,405,1,ÈõôÂ≠êÂ∫ß,Android,170.0,NaN,NaN,NaN,NaN,NaN,Positive
407,408,1,Â∞ÑÊâãÂ∫ß,Android,175.0,78.0,NaN,50.0,NaN,1,I am a boy
416,417,1,ÁçÖÂ≠êÂ∫ß,Android,170.0,65.0,NaN,120.0,NaN,1,I am a infinity man
420,421,1,Â§©Áß§Â∫ß,Apple,174.0,72.0,NaN,NaN,NaN,NaN,Sunny

In [18]:
nan_data_gender_counts = gender_sleepiness_nan_data['gender'].value_counts()
count_1 = nan_data_gender_counts.get(1, 0)
count_2 = nan_data_gender_counts.get(2, 0)
print("ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè:", count_1)
print("ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè:", count_2)
print("Á∏ΩÊï∏", count_1 + count_2)

ÂÄºÁÇ∫ 1 (Áî∑Áîü)ÁöÑÊï∏Èáè: 57
ÂÄºÁÇ∫ 2 (Â•≥Áîü)ÁöÑÊï∏Èáè: 19
Á∏ΩÊï∏ 76

### Ë®ìÁ∑¥ÈõÜÔºöË∫´È´ò

In [19]:
# ÂÅáË®≠Ë∫´È´òÊ¨Ñ‰ΩçÂêçÁ®±ÁÇ∫ 'height'
df = raw_data.copy()
df['height_range'] = pd.cut(df['height'], bins=[0, 140, 150,160,170,180,190,200, float('inf')], labels=['140‰ª•‰∏ã', '140~150', '150~160', '160~170', '170~180','180~190','190~200', '200‰ª•‰∏ä'])

gender_height_range = df.groupby(['height_range', 'gender']).size().unstack(fill_value=0)
gender_height_range

C:\Users\User\AppData\Local\Temp\ipykernel_17784\1127983487.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gender_height_range = df.groupby(['height_range', 'gender']).size().unstack(fill_value=0)

gender          1   2
height_range
140‰ª•‰∏ã           5   1
140~150         1   4
150~160         2  40
160~170        80  37
170~180       146   2
180~190        22   0
190~200         3   0
200‰ª•‰∏ä           2   2

In [9]:
pd.set_option('display.float_format', '{:.2f}'.format)
train_height_extreme_data = raw_data.copy()
train_height_extreme_data = train_height_extreme_data[(train_height_extreme_data['height'] >= 200.0) |
                                                      (train_height_extreme_data['height'] < 140.0)]
train_height_extreme_data['weight'] = train_height_extreme_data['weight'].apply(lambda x: float(x))
train_height_extreme_data['height'] = train_height_extreme_data['height'].apply(lambda x: float(x))
train_height_extreme_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
36,37,1,Êë©ÁæØÂ∫ß,Apple,100.00,180.00,5.00,100.00,50.00,10,Fake
60,61,1,ÈõôÈ≠öÂ∫ß,Apple,125.00,125.00,3.00,87.00,0.00,0,Ah
96,97,1,ËôïÂ•≥Â∫ß,Android,123.00,123.00,3.00,123.00,123.00,123,‰∏ÄÂè•Ë©±
131,132,1,Ê∞¥Áì∂Â∫ß,Android,1000000000.00,2000000000.00,1.00,122.00,3000000000.00,4000000000,.
133,134,1,ÈõôÈ≠öÂ∫ß,Apple,99999999999999995681977264164181575840510447725...,99999999999999995681977264164181575840510447725...,1.00,NaN,99999999999999998845256969464145328989141284776...,#NUM!,.
163,164,1,Â§©Ë†çÂ∫ß,Apple,200.00,100.00,1.00,200.00,10000.00,64,GOAT
219,220,1,Â§©Ë†çÂ∫ß,NaN,200.00,100.00,NaN,200.00,NaN,64,GOAT
252,253,1,Â∑®ËüπÂ∫ß,NaN,30.00,87.00,5.00,200.00,1.00,0,Shit
253,254,2,Â§©Áß§Â∫ß,Android,15.00,500.00,NaN,50.00,NaN,0.001,unique and fat
265,266,1,ÈáëÁâõÂ∫ß,Android,12.00,12.00,2.00,87.00,12.00,12,Re
270,271,1,NaN,NaN,-187.00,NaN,1.00,NaN,8787.00,0,Useless
291,292,1,Áâ°ÁæäÂ∫ß,Android,-1000.00,-1000.00,1.00,200.00,-1000.00,-1000,ÂìàÂìàÂìàÁ¨ë‰Ω†ÔΩûÔΩûÔΩû
297,298,2,ÁçÖÂ≠êÂ∫ß,Android,213.00,79.00,1.00,50.00,1111.00,999,I'm outlier
307,308,2,ÈõôÈ≠öÂ∫ß,JohnCena,900.00,10.00,5.00,199.00,10.00,1,good
380,381,1,Â§©Áß§Â∫ß,Android,200.00,10.00,1.00,50.00,0.00,1000,Free

In [12]:
export_csv(train_height_extreme_data, 'height')

### Ë®ìÁ∑¥ÈõÜÔºöÈ´îÈáç

In [21]:
df = raw_data.copy()
df['weight_range'] = pd.cut(df['weight'], bins=[0, 40, 50,60,70,80,90,100, float('inf')], labels=['40‰ª•‰∏ã', '40~50', '50~60', '60~70', '70~80','80~90','90~100', '100‰ª•‰∏ä'])

gender_height_range = df.groupby(['weight_range', 'gender']).size().unstack(fill_value=0)
gender_height_range

C:\Users\User\AppData\Local\Temp\ipykernel_17784\1661153678.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gender_height_range = df.groupby(['weight_range', 'gender']).size().unstack(fill_value=0)

gender          1   2
weight_range
40‰ª•‰∏ã            4   3
40~50          13  34
50~60          55  42
60~70         106   6
70~80          66   6
80~90          22   0
90~100          4   0
100‰ª•‰∏ä           9   2

In [17]:
pd.set_option('display.float_format', '{:.2f}'.format)
train_weight_extreme_data = raw_data.copy()
train_weight_extreme_data = train_weight_extreme_data[(train_weight_extreme_data['weight'] < 40.0)|
                                                      (train_weight_extreme_data['weight'] >= 100.0)]
train_weight_extreme_data['weight'] = train_weight_extreme_data['weight'].apply(lambda x: float(x))
train_weight_extreme_data['height'] = train_weight_extreme_data['height'].apply(lambda x: float(x))
train_weight_extreme_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
36,37,1,Êë©ÁæØÂ∫ß,Apple,100.00,180.00,5.00,100.00,50.00,10,Fake
60,61,1,ÈõôÈ≠öÂ∫ß,Apple,125.00,125.00,3.00,87.00,0.00,0,Ah
61,62,1,ËôïÂ•≥Â∫ß,NaN,NaN,200.00,3.00,87.00,78.00,NaN,I have a pen
96,97,1,ËôïÂ•≥Â∫ß,Android,123.00,123.00,3.00,123.00,123.00,123,‰∏ÄÂè•Ë©±
126,127,1,Áâ°ÁæäÂ∫ß,Apple,175.00,7.00,5.00,100.00,1000.00,0.06,I‚Äôm handsome
131,132,1,Ê∞¥Áì∂Â∫ß,Android,1000000000.00,2000000000.00,1.00,122.00,3000000000.00,4000000000,.
133,134,1,ÈõôÈ≠öÂ∫ß,Apple,99999999999999995681977264164181575840510447725...,99999999999999995681977264164181575840510447725...,1.00,NaN,99999999999999998845256969464145328989141284776...,#NUM!,.
163,164,1,Â§©Ë†çÂ∫ß,Apple,200.00,100.00,1.00,200.00,10000.00,64,GOAT
219,220,1,Â§©Ë†çÂ∫ß,NaN,200.00,100.00,NaN,200.00,NaN,64,GOAT
253,254,2,Â§©Áß§Â∫ß,Android,15.00,500.00,NaN,50.00,NaN,0.001,unique and fat
254,255,1,Â§©Ë†çÂ∫ß,NaN,NaN,100.00,3.00,NaN,NaN,1,Stupid
264,265,1,Ê∞¥Áì∂Â∫ß,Apple,NaN,180.00,2.00,173.00,10000.00,88,Wise
265,266,1,ÈáëÁâõÂ∫ß,Android,12.00,12.00,2.00,87.00,12.00,12,Re
266,267,2,ÁçÖÂ≠êÂ∫ß,Apple,165.00,165.00,5.00,155.00,165.00,165,May God blessing you
269,270,1,Êë©ÁæØÂ∫ß,NaN,180.00,100.00,5.00,120.00,NaN,0,A man with wisdom.
291,292,1,Áâ°ÁæäÂ∫ß,Android,-1000.00,-1000.00,1.00,200.00,-1000.00,-1000,ÂìàÂìàÂìàÁ¨ë‰Ω†ÔΩûÔΩûÔΩû
306,307,1,Ê∞¥Áì∂Â∫ß,Android,187.00,187.00,NaN,187.00,870.00,8.7,878787
307,308,2,ÈõôÈ≠öÂ∫ß,JohnCena,900.00,10.00,5.00,199.00,10.00,1,good
310,311,1,ÈõôÂ≠êÂ∫ß,Apple,180.00,110.00,3.00,140.00,250.00,0.5,Stay hungry stay foolish
380,381,1,Â§©Áß§Â∫ß,Android,200.00,10.00,1.00,50.00,0.00,1000,Free

In [19]:
export_csv(train_weight_extreme_data, 'weight')

### ÂâçËôïÁêÜ

In [23]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

preprocess_data = raw_data.copy()
## Âà™Èô§ÊâãÊ©üÊ•µÁ´ØÂÄº
preprocess_data = preprocess_data[preprocess_data['phone_os'] != 'JohnCena']

preprocess_data['star_sign'] = preprocess_data['star_sign'].astype('category')
preprocess_data['phone_os'] = preprocess_data['phone_os'].astype('category')
preprocess_data = pd.get_dummies(preprocess_data, columns=['star_sign', 'phone_os'])
preprocess_data.replace({True: 1, False: 0}, inplace=True)
## ËôïÁêÜÁº∫Â§±ÂÄº
# height 170.00
# weight 63.00
# sleepiness 3.00
# iq 120.00
# fb_friends 400.00
# yt 2.00
preprocess_data['height'] = preprocess_data['height'].fillna(preprocess_data['height'].median())
preprocess_data['weight'] = preprocess_data['weight'].fillna(preprocess_data['weight'].median())
preprocess_data['sleepiness'] = preprocess_data['sleepiness'].fillna(preprocess_data['sleepiness'].median())
preprocess_data['iq'] = preprocess_data['iq'].fillna(preprocess_data['iq'].median())
preprocess_data['fb_friends'] = preprocess_data['fb_friends'].fillna(preprocess_data['fb_friends'].median())
preprocess_data['yt'] = pd.to_numeric(preprocess_data['yt'], errors='coerce')
preprocess_data['yt'] = preprocess_data['yt'].fillna(preprocess_data['yt'].median())

## Âà™Èô§Ë∫´È´òÈ´îÈáçÊ•µÁ´ØÂÄº
preprocess_data = preprocess_data[preprocess_data['height'] <= 200.0]
preprocess_data = preprocess_data[preprocess_data['height'] >= 140.0]
preprocess_data = preprocess_data[preprocess_data['weight'] < 100.0]
preprocess_data = preprocess_data[preprocess_data['weight'] > 40.0]

## Ê®ôÊ∫ñÂåñ
scaler = StandardScaler()
preprocess_data[['height', 'weight']] = scaler.fit_transform(preprocess_data[['height', 'weight']])

preprocess_data

C:\Users\User\AppData\Local\Temp\ipykernel_17784\3259730144.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  preprocess_data.replace({True: 1, False: 0}, inplace=True)

,id,gender,height,weight,sleepiness,iq,fb_friends,yt,self_intro,star_sign_Â§©Áß§Â∫ß,...,star_sign_Êë©ÁæØÂ∫ß,star_sign_Ê∞¥Áì∂Â∫ß,star_sign_Áâ°ÁæäÂ∫ß,star_sign_ÁçÖÂ≠êÂ∫ß,star_sign_ËôïÂ•≥Â∫ß,star_sign_ÈáëÁâõÂ∫ß,star_sign_ÈõôÂ≠êÂ∫ß,star_sign_ÈõôÈ≠öÂ∫ß,phone_os_Android,phone_os_Apple
0,1,2,-2.29,-2.06,2.00,180.00,583.00,0.00,Beautiful,0,...,0,0,0,0,1,0,0,0,0,1
1,2,2,-2.01,-1.67,2.00,130.00,400.00,3.50,Enjoying being who I'm notsss,0,...,0,0,0,0,1,0,0,0,0,0
2,3,1,-0.04,-0.29,3.00,90.00,540.00,5.00,Practice Makes perfect,0,...,0,0,0,0,0,0,0,0,1,0
3,4,1,-0.04,-0.19,4.00,100.00,173.00,5.00,Straightforward,0,...,0,0,0,0,0,0,0,0,0,1
4,5,2,-1.73,0.05,3.00,120.00,400.00,1.20,Humorous,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,419,1,-0.61,0.20,4.00,90.00,1000.00,1.00,I hope i am a super hero.,0,...,0,0,0,0,1,0,0,0,1,0
419,420,1,0.80,0.10,4.00,87.00,1300.00,2.00,God damn dope,0,...,0,0,1,0,0,0,0,0,1,0
420,421,1,0.52,0.79,3.00,120.00,400.00,2.00,Sunny,1,...,0,0,0,0,0,0,0,0,0,1
421,422,2,-0.47,-1.37,3.00,180.00,483.00,10.00,Light,0,...,0,0,0,0,0,0,0,0,0,1
422,423,1,0.10,0.40,3.00,66.00,300.00,2.00,super 666666,0,...,0,0,0,0,0,0,0,1,1,0

### Êû∂Ë®≠Ê®°Âûã

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score


# ÂÅáËÆæ preprocess_data ÊòØÊÇ®È¢ÑÂ§ÑÁêÜÂêéÁöÑÊï∞ÊçÆ
X = preprocess_data.drop(['gender', 'id', 'self_intro'], axis=1)
y = preprocess_data['gender']  # Ê†áÁ≠æ

# ÂàÜÂâ≤Êï∞ÊçÆ‰∏∫ËÆ≠ÁªÉÈõÜÂíåÊµãËØïÈõÜ
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ÂàùÂßãÂåñSVMÊ®°Âûã
svm_model = SVC(kernel='linear')  # ‰ΩøÁî®Á∫øÊÄßÊ†∏ÔºåÊÇ®ÂèØ‰ª•Ê†πÊçÆÈúÄË¶ÅË∞ÉÊï¥ÂèÇÊï∞

# ËÆ≠ÁªÉÊ®°Âûã
svm_model.fit(X_train, y_train)

# È¢ÑÊµãÊµãËØïÈõÜ
y_pred = svm_model.predict(X_test)

# ËØÑ‰º∞Ê®°Âûã
accuracy = accuracy_score(y_test, y_pred)
print(f'Model Accuracy: {accuracy:.2f}')

NameError: name 'preprocess_data' is not defined

In [28]:
X_test['gender'] = y_test
X_test['pred'] = y_pred
X_test

,height,weight,sleepiness,iq,fb_friends,yt,star_sign_Â§©Áß§Â∫ß,star_sign_Â§©Ë†çÂ∫ß,star_sign_Â∞ÑÊâãÂ∫ß,star_sign_Â∑®ËüπÂ∫ß,...,star_sign_Áâ°ÁæäÂ∫ß,star_sign_ÁçÖÂ≠êÂ∫ß,star_sign_ËôïÂ•≥Â∫ß,star_sign_ÈáëÁâõÂ∫ß,star_sign_ÈõôÂ≠êÂ∫ß,star_sign_ÈõôÈ≠öÂ∫ß,phone_os_Android,phone_os_Apple,gender,pred
118,-0.04,-1.47,1.00,122.00,1029.00,9.00,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
300,-0.04,0.40,5.00,120.00,1300.00,5.00,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
247,0.80,1.77,1.00,180.00,1.00,100.00,0,0,0,0,...,0,0,0,0,0,1,1,0,1,1
58,0.10,0.00,3.00,120.00,400.00,0.20,0,0,0,0,...,0,0,0,0,1,0,0,0,2,1
75,-0.04,-0.39,4.00,120.00,650.00,5.00,0,0,0,0,...,0,0,1,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,0.80,0.05,3.00,100.00,400.00,2.00,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
365,0.10,0.05,3.00,120.00,600.00,2.00,0,0,1,0,...,0,0,0,0,0,0,0,0,2,1
140,0.10,0.89,2.00,180.00,400.00,2.00,1,0,0,0,...,0,0,0,0,0,0,0,1,1,1
3,-0.04,-0.19,4.00,100.00,173.00,5.00,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
18,-0.04,-0.19,4.00,100.00,173.00,5.00,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1

In [30]:
indices = X_test.index.tolist()
selected_data = raw_data.iloc[indices]
selected_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
118,119,1,Ê∞¥Áì∂Â∫ß,Android,170.00,49.00,1.00,122.00,1029.00,9,?
300,301,1,Â§©Ë†çÂ∫ß,NaN,170.00,68.00,5.00,NaN,1300.00,5,Supercold
247,248,1,ÈõôÈ≠öÂ∫ß,Android,176.00,82.00,1.00,180.00,1.00,100,Nerd
58,59,2,ÈõôÂ≠êÂ∫ß,NaN,NaN,64.00,3.00,NaN,NaN,0.2,A girl.
75,76,1,ËôïÂ•≥Â∫ß,Apple,170.00,60.00,4.00,120.00,650.00,5,nice.
...,...,...,...,...,...,...,...,...,...,...,...
392,393,1,NaN,Android,176.00,NaN,NaN,100.00,NaN,NaN,a man
365,366,2,Â∞ÑÊâãÂ∫ß,NaN,NaN,NaN,NaN,NaN,600.00,NaN,Finding myself.
140,141,1,Â§©Áß§Â∫ß,Apple,171.00,73.00,2.00,180.00,400.00,2,Handsome
3,4,1,Â∞ÑÊâãÂ∫ß,Apple,170.00,62.00,4.00,100.00,173.00,5,Straightforward
18,19,1,Â∞ÑÊâãÂ∫ß,Apple,170.00,62.00,4.00,100.00,173.00,5,Straightforward

In [31]:
selected_data['pred'] = y_pred
selected_data

C:\Users\User\AppData\Local\Temp\ipykernel_17784\53031096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data['pred'] = y_pred

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro,pred
118,119,1,Ê∞¥Áì∂Â∫ß,Android,170.00,49.00,1.00,122.00,1029.00,9,?,1
300,301,1,Â§©Ë†çÂ∫ß,NaN,170.00,68.00,5.00,NaN,1300.00,5,Supercold,1
247,248,1,ÈõôÈ≠öÂ∫ß,Android,176.00,82.00,1.00,180.00,1.00,100,Nerd,1
58,59,2,ÈõôÂ≠êÂ∫ß,NaN,NaN,64.00,3.00,NaN,NaN,0.2,A girl.,1
75,76,1,ËôïÂ•≥Â∫ß,Apple,170.00,60.00,4.00,120.00,650.00,5,nice.,1
...,...,...,...,...,...,...,...,...,...,...,...,...
392,393,1,NaN,Android,176.00,NaN,NaN,100.00,NaN,NaN,a man,1
365,366,2,Â∞ÑÊâãÂ∫ß,NaN,NaN,NaN,NaN,NaN,600.00,NaN,Finding myself.,1
140,141,1,Â§©Áß§Â∫ß,Apple,171.00,73.00,2.00,180.00,400.00,2,Handsome,1
3,4,1,Â∞ÑÊâãÂ∫ß,Apple,170.00,62.00,4.00,100.00,173.00,5,Straightforward,1
18,19,1,Â∞ÑÊâãÂ∫ß,Apple,170.00,62.00,4.00,100.00,173.00,5,Straightforward,1

In [32]:
filtered_data = selected_data[selected_data['gender'] != selected_data['pred']]
filtered_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro,pred
58,59,2,ÈõôÂ≠êÂ∫ß,NaN,NaN,64.00,3.00,NaN,NaN,0.2,A girl.,1
105,106,2,NaN,Apple,NaN,60.00,2.00,135.00,NaN,NaN,Brilliant,1
205,206,2,ÁçÖÂ≠êÂ∫ß,Apple,168.00,49.00,1.00,NaN,2000.00,NaN,Hi,1
87,88,2,NaN,Android,NaN,50.00,NaN,100.00,50.00,3,I am a nervous person.,1
357,358,2,NaN,Apple,NaN,55.00,NaN,120.00,600.00,1,A commen person.,1
93,94,1,Áâ°ÁæäÂ∫ß,Android,162.00,50.00,2.00,140.00,1234.00,0.5,Â∏•,2
22,23,2,ÈõôÂ≠êÂ∫ß,Android,170.00,57.00,4.00,100.00,1200.00,NaN,Um..Haha,1
365,366,2,Â∞ÑÊâãÂ∫ß,NaN,NaN,NaN,NaN,NaN,600.00,NaN,Finding myself.,1

In [39]:
nervous_rows = raw_data[raw_data['self_intro'].str.contains('boy')]
nervous_rows

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
328,329,1,Â∞ÑÊâãÂ∫ß,NaN,174.00,61.00,2.00,NaN,603.00,87,A handsome boy
340,341,1,ÈáëÁâõÂ∫ß,Apple,175.00,80.00,3.00,175.00,500.00,3,I am good boy
386,387,1,NaN,Apple,NaN,55.00,4.00,120.00,NaN,0.56,I am a sunshine boy.
398,399,1,ÁçÖÂ≠êÂ∫ß,NaN,NaN,NaN,5.00,NaN,471.00,NaN,handsome boy
407,408,1,Â∞ÑÊâãÂ∫ß,Android,175.00,78.00,NaN,50.00,NaN,1,I am a boy

### Ê∏¨Ë©¶ÈõÜ
#ÂÖ®Áî∑Áîü1ÁÇ∫0.65989 Á¥Ñ 261
#ÂÖ®Â•≥Áîü2ÁÇ∫0.34010 Á¥Ñ 134

In [ ]:
test_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,0,Â§©Ë†çÂ∫ß,Apple,NaN,100.0,1.0,87.000,87.0,87.0,GOod
1,2,0,ÈáëÁâõÂ∫ß,Apple,175.0,80.0,3.0,130.000,2000.0,30.0,Easygoing
2,3,0,ÈõôÂ≠êÂ∫ß,Apple,155.0,45.0,3.0,150.000,400.0,9.0,I LOVE INTEL
3,4,0,ËôïÂ•≥Â∫ß,Apple,173.0,85.0,4.0,100.000,2000.0,15.0,"I'm a hard-work man, just do my best to finish..."
4,5,0,Â∞ÑÊâãÂ∫ß,Android,164.0,57.0,4.0,130.000,505.0,2.0,I'm smart
...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,ËôïÂ•≥Â∫ß,Android,160.0,48.0,3.0,75.000,98.0,2.0,Starting by Starting
391,392,0,NaN,Apple,170.0,NaN,NaN,105.000,510.0,NaN,A little bit smart
392,393,0,ÈáëÁâõÂ∫ß,Apple,160.0,45.0,4.0,100.000,600.0,2000.0,Hi
393,394,0,Â∑®ËüπÂ∫ß,NaN,180.0,NaN,NaN,199.999,NaN,60.0,"I'm not beautiful, but smart üòÄ"
394,395,0,Â∞ÑÊâãÂ∫ß,Apple,175.0,69.0,5.0,135.000,200.0,1400.0,Like the shadow

In [ ]:
df = test_data.copy()
df['gender'] = df['gender'].map({0: 'Áî∑ÊÄß', 2: 'Â•≥ÊÄß'})
gender_phone_os = df.groupby(['phone_os', 'gender']).size().unstack(fill_value=0)
gender_phone_os

gender          Áî∑ÊÄß
phone_os
Android        147
Apple          239
Windows phone    1

In [ ]:
import pandas as pd

# Ë®≠ÁΩÆÈ°ØÁ§∫ÊµÆÈªûÊï∏ÁöÑÊ†ºÂºè
pd.set_option('display.float_format', '{:.2f}'.format)

# ÊÇ®ÁöÑÂÖ∂‰ªñÁ®ãÂºèÁ¢º...
weight_extreme_data = test_data[test_data['height'] > 180.0]
weight_extreme_data['weight'] = weight_extreme_data['weight'].apply(lambda x: float(x))
weight_extreme_data['height'] = weight_extreme_data['height'].apply(lambda x: float(x))
weight_extreme_data

<ipython-input-90-2542aa696af3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight_extreme_data['weight'] = weight_extreme_data['weight'].apply(lambda x: float(x))
<ipython-input-90-2542aa696af3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight_extreme_data['height'] = weight_extreme_data['height'].apply(lambda x: float(x))

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
10,11,0,Â§©Áß§Â∫ß,Android,190.00,89.00,2.00,120.00,185.00,0.00,A man with arrogance.
12,13,0,Áâ°ÁæäÂ∫ß,Apple,185.00,60.00,5.00,180.00,0.00,60.00,Adorable
15,16,0,NaN,Android,188.00,20.00,NaN,88.00,NaN,NaN,A young girl
25,26,0,Â§©Ë†çÂ∫ß,Android,181.00,65.00,3.00,87.00,400.00,1.00,Hahahahaha
34,35,0,ÈõôÈ≠öÂ∫ß,Android,187.00,66.00,4.00,150.00,150.00,0.10,Tall
53,54,0,ÈõôÈ≠öÂ∫ß,Android,187.00,87.00,4.00,87.00,9487.00,5.95,I'm a 87.
56,57,0,ËôïÂ•≥Â∫ß,Android,188.77,87.59,5.00,50.87,9487.00,8.74,Let's party!
71,72,0,Áâ°ÁæäÂ∫ß,Apple,218.00,50.00,4.00,200.00,0.00,1000.00,Ez game Ez life
88,89,0,Â§©Áß§Â∫ß,Android,200000.00,450000.00,2.00,180.00,345000000.00,0.00,I am so cute
91,92,0,Áâ°ÁæäÂ∫ß,Android,183.00,75.00,2.00,87.00,500.00,22.80,"I'm fine thank you,and you?"
92,93,0,Â∑®ËüπÂ∫ß,Apple,1844670000000000065536.00,1844670000000000267582938546176.00,1.00,200.00,9999999999999999583119736832.00,8.40,Plz do not delete my data.
97,98,0,ËôïÂ•≥Â∫ß,Android,185.00,65.00,3.00,180.00,835.00,1.50,I'm so handsome.
108,109,0,ÈõôÈ≠öÂ∫ß,Android,193.00,80.00,3.00,80.00,2300.00,0.80,I‚Äôm fine.
110,111,0,Ê∞¥Áì∂Â∫ß,Android,183.00,72.00,3.00,180.00,250.00,2.00,Perfect man
165,166,0,ËôïÂ•≥Â∫ß,Android,182.00,68.00,3.00,120.00,400.00,4.00,I am a slient man.
168,169,0,ÈõôÈ≠öÂ∫ß,Apple,181.00,55.00,1.00,120.00,215.00,465.00,I‚Äôm look like tall and thin.
183,184,0,Â§©Ë†çÂ∫ß,Apple,182.00,74.00,2.00,80.00,100.00,4.00,Sleepy
190,191,0,Áâ°ÁæäÂ∫ß,Apple,182.00,68.00,1.00,168.00,1303.00,99.20,"Cogito, ergo sum"
218,219,0,Êë©ÁæØÂ∫ß,Android,183.00,76.00,2.00,200.00,262.00,1.00,so smart
220,221,0,ÈõôÈ≠öÂ∫ß,Apple,183.00,60.00,1.00,199.00,300.00,30.00,HowDa U Sdd
222,223,0,ÈõôÈ≠öÂ∫ß,Apple,380.00,380.00,5.00,60.00,0.00,500.00,random
223,224,0,NaN,Android,183.00,70.00,5.00,NaN,NaN,6666.00,Boiiiiiii
226,227,0,ÈõôÂ≠êÂ∫ß,Android,183.00,76.00,4.00,120.00,350.00,4.00,Wow
231,232,0,Â§©Ë†çÂ∫ß,Apple,12345.00,400.00,3.00,90.00,700.00,52.00,Person
236,237,0,ÁçÖÂ≠êÂ∫ß,Apple,190.00,92.00,4.00,200.00,837.00,144.00,"Never gonna give you up, never gonna let you d..."
238,239,0,ÈõôÈ≠öÂ∫ß,Apple,183.00,60.00,1.00,199.00,300.00,30.00,HowDa U Sdd
239,240,0,ÁçÖÂ≠êÂ∫ß,Apple,190.00,92.00,4.00,200.00,837.00,144.00,"Never gonna give you up, never gonna let you d..."
240,241,0,ÈõôÈ≠öÂ∫ß,Apple,183.00,60.00,1.00,199.00,300.00,30.00,HowDa U Sdd
241,242,0,ÁçÖÂ≠êÂ∫ß,Apple,190.00,92.00,4.00,200.00,837.00,144.00,"Never gonna give you up, never gonna let you d..."
242,243,0,ÁçÖÂ≠êÂ∫ß,Apple,190.00,92.00,4.00,200.00,837.00,144.00,"Never gonna give you up, never gonna let you d..."
247,248,0,Ê∞¥Áì∂Â∫ß,Android,182.00,100.00,2.00,180.00,500.00,32.00,I'm the best.
268,269,0,ÈõôÂ≠êÂ∫ß,Apple,183.00,94.00,4.00,120.00,881.00,12.10,A kind and optimistic person.
276,277,0,Â§©Ë†çÂ∫ß,Apple,188.00,80.00,3.00,110.00,500.00,100.00,Keep breaking out of the comfort zone.
277,278,0,Â§©Áß§Â∫ß,Apple,185.00,97.00,3.00,100.00,400.00,1.00,Just do it.
309,310,0,ÈõôÈ≠öÂ∫ß,Apple,184.00,86.00,5.00,130.00,500.00,4.00,"like to make friends, wish everybody have a go..."
314,315,0,Â§©Ë†çÂ∫ß,Apple,185.00,82.00,3.00,95.00,500.00,100.00,I will be a Good papa
328,329,0,Â∞ÑÊâãÂ∫ß,Android,185.00,98.00,1.00,95.00,70.00,50.00,"Student from Germany, originally Russian"
332,333,0,Â§©Ë†çÂ∫ß,Apple,185.00,85.00,5.00,100.00,575.00,125.00,I am tall
355,356,0,ËôïÂ•≥Â∫ß,Apple,191.00,77.00,1.00,83.00,410.00,31.00,"I do whatever i want. I am whatever i am, only..."
365,366,0,ÈõôÈ≠öÂ∫ß,Apple,184.00,86.00,4.00,130.00,666.00,4.00,Confidence
366,367,0,Áâ°ÁæäÂ∫ß,Apple,181.00,80.00,1.00,200.00,1000.00,30.00,Smartttie
370,371,0,Â§©Ë†çÂ∫ß,Apple,181.00,75.00,3.00,199.00,241.00,1000.00,"I want password card, plz"
373,374,0,Â§©Áß§Â∫ß,Apple,185.00,80.00,2.00,100.00,606.00,1330.00,Wang so rong

In [ ]:
output = test_data[['id', 'gender']]
output.loc[:, 'gender'] = 2
output

<ipython-input-17-d693d7da1d6f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.loc[:, 'gender'] = 2

      id  gender
0      1       2
1      2       2
2      3       2
3      4       2
4      5       2
..   ...     ...
390  391       2
391  392       2
392  393       2
393  394       2
394  395       2

[395 rows x 2 columns]

In [43]:
import datetime
import pytz
def export_csv(df):
  now = datetime.datetime.now().astimezone(pytz.timezone('Asia/Taipei'))
  formatted_time = now.strftime('%Y-%m-%d %HÊôÇ%MÂàÜ%SÁßí')
  # df.to_csv(corpus_root + formatted_time + "predict.csv", index=False,encoding="utf_8_sig")
  df.to_csv(formatted_time + "predict.csv", index=False,encoding="utf_8_sig")

In [44]:
export_csv(raw_data)