In [34]:
import pandas as pd
import numpy as np
from scipy.stats import zscore
from sklearn.impute import KNNImputer

In [41]:
file_path = r'.\raw_data\boy or girl 2024 test no ans_missingValue.csv'
data = pd.read_csv(file_path)
data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,0,å¤©è åº§,Apple,NaN,100,1,87,87,87,GOod
1,2,0,é‡‘ç‰›åº§,Apple,175,80,3,130,2.0E+03,30,Easygoing
2,3,0,é›™å­åº§,Apple,155,45,3,150,400,9,I LOVE INTEL
3,4,0,è™•å¥³åº§,Apple,173,85,4,100,2.0E+03,15,"I'm a hard-work man, just do my best to finish..."
4,5,0,å°„æ‰‹åº§,Android,164,57,4,130,505,2,I'm smart
...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,è™•å¥³åº§,Android,160,48,3,75,98,2,Starting by Starting
391,392,0,NaN,Apple,170,NaN,NaN,105,510,NaN,A little bit smart
392,393,0,é‡‘ç‰›åº§,Apple,160,45,4,100,600,2.0E+03,Hi
393,394,0,å·¨èŸ¹åº§,NaN,180,NaN,NaN,200,NaN,60,"I'm not beautiful, but smart ğŸ˜€"
394,395,0,å°„æ‰‹åº§,Apple,175,69,5,135,200,1.4E+03,Like the shadow

In [42]:
# æ˜Ÿåº§çš„æ˜ å°„å­—å…¸
star_sign_mapping = {
    'æ°´ç“¶åº§': 0,
    'é›™é­šåº§': 1,
    'ç‰¡ç¾Šåº§': 2,
    'é‡‘ç‰›åº§': 3,
    'é›™å­åº§': 4,
    'å·¨èŸ¹åº§': 5,
    'ç…å­åº§': 6,
    'è™•å¥³åº§': 7,
    'å¤©ç§¤åº§': 8,
    'å¤©è åº§': 9,
    'å°„æ‰‹åº§': 10,
    'æ‘©ç¾¯åº§': 11
}

# å°‡æ˜Ÿåº§æ¬„ä½è½‰æ›ç‚ºæ•¸å­—
data['star_sign'] = data['star_sign'].map(star_sign_mapping)

# æ‰‹æ©Ÿæ“ä½œç³»çµ±çš„æ˜ å°„å­—å…¸
phone_os_mapping = {
    'Apple': 0,
    'Android': 1,
    'Windows phone': 2  
}

# å°‡æ‰‹æ©Ÿæ“ä½œç³»çµ±æ¬„ä½è½‰æ›ç‚ºæ•¸å­—
data['phone_os'] = data['phone_os'].map(phone_os_mapping)

# è¼¸å‡ºè™•ç†å¾Œçš„æ¸¬è©¦è³‡æ–™é›†
data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,0,9,0,NaN,100,1,87,87,87,GOod
1,2,0,3,0,175,80,3,130,2.0E+03,30,Easygoing
2,3,0,4,0,155,45,3,150,400,9,I LOVE INTEL
3,4,0,7,0,173,85,4,100,2.0E+03,15,"I'm a hard-work man, just do my best to finish..."
4,5,0,10,1,164,57,4,130,505,2,I'm smart
...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,7,1,160,48,3,75,98,2,Starting by Starting
391,392,0,NaN,0,170,NaN,NaN,105,510,NaN,A little bit smart
392,393,0,3,0,160,45,4,100,600,2.0E+03,Hi
393,394,0,5,NaN,180,NaN,NaN,200,NaN,60,"I'm not beautiful, but smart ğŸ˜€"
394,395,0,10,0,175,69,5,135,200,1.4E+03,Like the shadow

In [43]:
def calculate_bmi(height, weight):
    return weight / ((height/100) ** 2)

In [44]:
data['yt'] = pd.to_numeric(data['yt'], errors='coerce')

In [46]:
# è¨­ç½® pandas é¡¯ç¤ºæ ¼å¼
pd.set_option('display.float_format', lambda x: '%.1E' % x if abs(x) > 1000 else '%.0f' % x)

# æ¬„ä½ä¸åŒ…å« 'id' å’Œ 'self_intro'
columns_to_check = [col for col in data.columns if col not in ['id', 'self_intro']]

# åˆå§‹åŒ–è¨ˆæ•¸å™¨
total_outliers = 0
outliers_gender_1 = 0
outliers_gender_2 = 0

# æ‰¾å‡ºæœ‰outlierçš„è³‡æ–™
outliers = []
for index, row in data.iterrows():
    is_outlier = False
    for col in columns_to_check:
        # å¦‚æœè©²æ¬„ä½æ˜¯è² å€¼ï¼Œå‰‡è¦–ç‚ºoutlier
        if row[col] < 0:
            is_outlier = True
            break
        # å¦‚æœè©²æ¬„ä½çš„æ•¸å€¼éå¤§ï¼Œå‰‡è¦–ç‚ºoutlier
        if col in ['height'] and (row[col] > 220 or row[col] < 140):  # å¯ä»¥è‡ªè¡Œèª¿æ•´æ•¸å€¼ç¯„åœ
            is_outlier = True
            break
        
        if col in ['weight'] and (row[col] > 150 or row[col] < 30):  # å¯ä»¥è‡ªè¡Œèª¿æ•´æ•¸å€¼ç¯„åœ
            is_outlier = True
            break

        if col in ['fb_friends'] and row[col] > 10000:  # å¯ä»¥è‡ªè¡Œèª¿æ•´æ•¸å€¼ç¯„åœ
            is_outlier = True
            break

        if col in ['yt'] and row[col] > 5000:  # å¯ä»¥è‡ªè¡Œèª¿æ•´æ•¸å€¼ç¯„åœ
            is_outlier = True
            break

        if col in ['bmi'] and (row[col] > 40 or row[col]<10):
            is_outlier = True
            break

        # è¨ˆç®—z-score
        z_score = zscore([row[col]])[0]
        # å¦‚æœz-scoreçš„çµ•å°å€¼å¤§æ–¼3ï¼Œå‰‡è¦–ç‚ºoutlier
        if abs(z_score) > 3:
            is_outlier = True
            break

    if is_outlier:
        outliers.append(index)

        total_outliers += 1
        if row['gender'] == 1:
            outliers_gender_1 += 1
        elif row['gender'] == 2:
            outliers_gender_2 += 1

# åˆ—å°å‡ºæœ‰outlierçš„è³‡æ–™
if outliers:
    print("æœ‰outlierçš„è³‡æ–™:")
    print(data.loc[outliers])
else:
    print("æ²’æœ‰outlierçš„è³‡æ–™")

# åˆ—å°å‡ºoutlierçš„ç¸½ç­†æ•¸å’Œgenderç‚º1å’Œ2çš„outlierç­†æ•¸
print("Outlierçš„ç¸½ç­†æ•¸:", total_outliers)
print("Genderç‚º1çš„Outlierç­†æ•¸:", outliers_gender_1)
print("Genderç‚º2çš„Outlierç­†æ•¸:", outliers_gender_2)

outliers_csv = pd.DataFrame(data.loc[outliers])


def replace_outliers_with_nan(data, index, column):
    # æ‰¾åˆ° outlier å€¼çš„ç´¢å¼•
    outlier_value = data.loc[index, column]

    # å°‡ outlier å€¼æ›¿æ›ç‚º NaN
    data.at[index, column] = np.nan

    return data

def handle_outliers_and_impute(data, gender):
    # å–å¾—æŒ‡å®šæ€§åˆ¥çš„è³‡æ–™ç´¢å¼•
    gender_indices = data[data['gender'] == gender].index.tolist()

    # ç§»é™¤éæ•¸å€¼å‹æ…‹çš„æ¬„ä½
    numeric_cols = data.select_dtypes(include=['number']).columns.tolist()
    cleaned_data = data[numeric_cols]

    # ä½¿ç”¨KNNè£œå€¼
    imputer = KNNImputer(n_neighbors=5)
    imputed_data = cleaned_data.copy()
    imputed_data.loc[gender_indices] = imputer.fit_transform(imputed_data.loc[gender_indices])

    return imputed_data

# å°‡ outlier æ›¿æ›ç‚º NaN
data = replace_outliers_with_nan(data, index='your_index', column='your_column')

# æ ¹æ“šæ€§åˆ¥åˆ†åˆ¥è™•ç†ç¼ºå¤±å€¼ä¸¦ç”¨ KNN è£œå€¼
data_gender_1 = handle_outliers_and_impute(data[data['gender'] == 1], 1)
data_gender_2 = handle_outliers_and_impute(data[data['gender'] == 2], 2)

# å°‡è™•ç†å¾Œçš„è³‡æ–™åˆä½µå›åŸå§‹è³‡æ–™é›†
data_imputed = pd.concat([data_gender_1, data_gender_2])

# é¡¯ç¤ºè™•ç†å¾Œçš„è³‡æ–™
data_imputed

# data.to_csv(r"C:\Users\Hank\BoyorGirl\BoyorGirl\KNN\outlier_detect\dataset_without_outlier_by_KNN.csv", index=False)

æœ‰outlierçš„è³‡æ–™:
      id  gender  star_sign  phone_os  height  weight  sleepiness  iq  \
15    16       0        NaN         1     188      20         NaN  88
51    52       0          4         2      88      88           1  87
61    62       0          9         1     170       1           4  50
64    65       0          7         0     166      90           1 170
88    89       0          8         1 2.0E+05 4.5E+05           2 180
92    93       0          5         0 1.8E+21 1.8E+30           1 200
121  122       0          6         0     160      50           4 180
126  127       0          2         1      52      29           1  51
128  129       0         11         0     174     888           1  50
140  141       0          3         1     166      66           5 100
157  158       0          4         0     171      66           5 199
161  162       0          2         0     172      56           2 200
181  182       0          5         1     170      25           2 200
188  189       0          0         0       0       0           1  50
196  197       0          7         1     175      65           2 180
211  212       0          9         0     171      73           2 200
219  220       0          7         0     159      45           3 122
222  223       0          1         0     380     380           5  60
223  224       0        NaN         1     183      70           5 NaN
231  232       0          9         0 1.2E+04     400           3  90
265  266       0          8         0     176     999           1 199
270  271       0          8         1     163       1           2 111
279  280       0          5         0     166       0           4 100
307  308       0          1         1     NaN       3           1 200
329  330       0          7         0     173      75           1  80
354  355       0          9         1     155       0           2 135

     fb_friends      yt                                   self_intro
15          NaN     NaN                                 A young girl
51           87      87                                      Nothing
61            1 5.0E+03                                Reallll sheet
64      2.0E+04       0                                          ass
88      3.4E+08       0                                 I am so cute
92      1.0E+28       8                   Plz do not delete my data.
121          99 1.0E+04                         My Life , My Style .
126           4     970                                          TxT
128           1      40                   I donâ€™t understand myself.
140         NaN 1.5E+04                         Absolutely fantastic
157     1.0E+05      20                         Live with your faith
161     1.0E+05     666                                    Ggininder
181           0     500                                        Smart
188           0       0                                          NaN
196     1.0E+98 1.0E+22                       who am i , loser life.
211     1.0E+05       1                                      Awesome
219           0 1.1E+10                                     I am fat
222           0     500                                       random
223         NaN 6.7E+03                                    Boiiiiiii
231         700      52                                       Person
265         500      30  quite handsome, quite sexy and longggg dxxk
270         190       0                                        >.0å•¾å’ª
279         200       1                                     positive
307         NaN       0                                  Go Pikachu!
329         130 3.0E+04                             I am a happy guy
354         350      12                                     adorable
Outlierçš„ç¸½ç­†æ•¸: 26
Genderç‚º1çš„Outlierç­†æ•¸: 0
Genderç‚º2çš„Outlierç­†æ•¸: 0

KeyError: 'your_column'