In [199]:
import datetime
import pytz
def export_csv(df,name):
  now = datetime.datetime.now().astimezone(pytz.timezone('Asia/Taipei'))
  formatted_time = now.strftime('%Y-%m-%d %Hæ™‚%Måˆ†%Sç§’')
  df.to_csv('predict_data/'+ name + '_' + formatted_time + ".csv", index=False,encoding="utf_8_sig")

In [22]:
test_data = pd.read_csv(r'boy or girl 2024 test no ans_missingValue.csv')
test_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,0,å¤©è åº§,Apple,NaN,100.0,1.0,87.000,87.0,87.0,GOod
1,2,0,é‡‘ç‰›åº§,Apple,175.0,80.0,3.0,130.000,2000.0,30.0,Easygoing
2,3,0,é›™å­åº§,Apple,155.0,45.0,3.0,150.000,400.0,9.0,I LOVE INTEL
3,4,0,è™•å¥³åº§,Apple,173.0,85.0,4.0,100.000,2000.0,15.0,"I'm a hard-work man, just do my best to finish..."
4,5,0,å°„æ‰‹åº§,Android,164.0,57.0,4.0,130.000,505.0,2.0,I'm smart
...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,è™•å¥³åº§,Android,160.0,48.0,3.0,75.000,98.0,2.0,Starting by Starting
391,392,0,NaN,Apple,170.0,NaN,NaN,105.000,510.0,NaN,A little bit smart
392,393,0,é‡‘ç‰›åº§,Apple,160.0,45.0,4.0,100.000,600.0,2000.0,Hi
393,394,0,å·¨èŸ¹åº§,NaN,180.0,NaN,NaN,199.999,NaN,60.0,"I'm not beautiful, but smart ğŸ˜€"
394,395,0,å°„æ‰‹åº§,Apple,175.0,69.0,5.0,135.000,200.0,1400.0,Like the shadow

### catboost

In [11]:
raw_data = pd.read_csv(r'boy or girl 2024 train_missingValue.csv')
raw_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,1,2,è™•å¥³åº§,Apple,154.0,43.0,2.0,180.0,583.0,0,Beautiful
1,2,2,è™•å¥³åº§,NaN,156.0,47.0,2.0,130.0,400.0,3.5,Enjoying being who I'm notsss
2,3,1,å°„æ‰‹åº§,Android,170.0,61.0,3.0,90.0,540.0,5,Practice Makes perfect
3,4,1,å°„æ‰‹åº§,Apple,170.0,62.0,4.0,100.0,173.0,5,Straightforward
4,5,2,å°„æ‰‹åº§,Android,158.0,NaN,3.0,NaN,NaN,1.2,Humorous
...,...,...,...,...,...,...,...,...,...,...,...
418,419,1,è™•å¥³åº§,Android,166.0,66.0,4.0,90.0,1000.0,1,I hope i am a super hero.
419,420,1,ç‰¡ç¾Šåº§,Android,176.0,65.0,4.0,87.0,1300.0,2,God damn dope
420,421,1,å¤©ç§¤åº§,Apple,174.0,72.0,NaN,NaN,NaN,NaN,Sunny
421,422,2,å¤©è åº§,Apple,167.0,50.0,3.0,180.0,483.0,10,Light
422,423,1,é›™é­šåº§,Android,NaN,68.0,3.0,66.0,300.0,NaN,super 666666

In [13]:
import pandas as pd
knn_train = pd.read_csv(r'KNN_withBMI.csv')
knn_train

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi
0,1,2,7.0,0,1.540,43.0,2.0,180.0,583.0,0.00,18.131219
1,2,2,7.0,0,1.560,47.0,2.0,130.0,400.0,3.50,19.312952
2,3,1,10.0,1,1.700,61.0,3.0,90.0,540.0,5.00,21.107266
3,4,1,10.0,0,1.700,62.0,4.0,100.0,173.0,5.00,21.453287
4,5,2,10.0,1,1.580,61.4,3.0,110.6,498.6,1.20,24.595417
...,...,...,...,...,...,...,...,...,...,...,...
417,419,1,7.0,1,1.660,66.0,4.0,90.0,1000.0,1.00,23.951227
418,420,1,2.0,1,1.760,65.0,4.0,87.0,1300.0,2.00,20.983988
419,421,1,8.0,0,1.740,72.0,3.6,155.6,260000350.0,2.10,23.781213
420,422,2,9.0,0,1.670,50.0,3.0,180.0,483.0,10.00,17.928215
421,423,1,1.0,1,1.716,68.0,3.0,66.0,300.0,1.26,23.092680

In [14]:
df = pd.merge(knn_train, raw_data[['id', 'self_intro']], on='id', how='left')
df

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi,self_intro
0,1,2,7.0,0,1.540,43.0,2.0,180.0,583.0,0.00,18.131219,Beautiful
1,2,2,7.0,0,1.560,47.0,2.0,130.0,400.0,3.50,19.312952,Enjoying being who I'm notsss
2,3,1,10.0,1,1.700,61.0,3.0,90.0,540.0,5.00,21.107266,Practice Makes perfect
3,4,1,10.0,0,1.700,62.0,4.0,100.0,173.0,5.00,21.453287,Straightforward
4,5,2,10.0,1,1.580,61.4,3.0,110.6,498.6,1.20,24.595417,Humorous
...,...,...,...,...,...,...,...,...,...,...,...,...
417,419,1,7.0,1,1.660,66.0,4.0,90.0,1000.0,1.00,23.951227,I hope i am a super hero.
418,420,1,2.0,1,1.760,65.0,4.0,87.0,1300.0,2.00,20.983988,God damn dope
419,421,1,8.0,0,1.740,72.0,3.6,155.6,260000350.0,2.10,23.781213,Sunny
420,422,2,9.0,0,1.670,50.0,3.0,180.0,483.0,10.00,17.928215,Light
421,423,1,1.0,1,1.716,68.0,3.0,66.0,300.0,1.26,23.092680,super 666666

In [93]:
import re
import numpy as np
# æƒ…ç·’å­—å…¸æ¨™è¨˜å‡½æ•¸
emotion_keywords = {
    1: ['boy', 'girlfriend', 'man','handsome','87','loser','dxxk','ggininder','fantastic','loser'],  # ç”·ç”Ÿé—œéµè©åˆ—è¡¨
    -1: ['girl', 'pretty','beautiful','adorable','>.0','cuuuuuuute']  # å¥³ç”Ÿé—œéµè©åˆ—è¡¨
}

def emotion_label(text):
    # æ£€æŸ¥æ˜¯å¦ä¸ºæœ‰æ•ˆå­—ç¬¦ä¸²æˆ–å­—èŠ‚å¯¹è±¡
    if isinstance(text, str) or isinstance(text, bytes):
        

        # åˆ†è¯
        words = re.findall(r'\b\w+\b', text)

        # æ£€æŸ¥æ­£é¢æƒ…ç»ªå…³é”®è¯
        if any(word in emotion_keywords[1] for word in words):
            return 1

        # æ£€æŸ¥è´Ÿé¢æƒ…ç»ªå…³é”®è¯
        if any(word in emotion_keywords[-1] for word in words):
            return -1
        # ä¸­æ–‡æ£€æŸ¥
        if re.search(r'[\u4e00-\u9fff]+', text):
            return 1
    # å¦‚æœä¸æ˜¯æœ‰æ•ˆçš„å­—ç¬¦ä¸²æˆ–å­—èŠ‚å¯¹è±¡ï¼Œè¿”å›ä¸­æ€§æƒ…ç»ªæ ‡ç­¾
    return 0

In [94]:
df['self_intro'] = df['self_intro'].str.lower()
df['emotion'] = np.vectorize(emotion_label)(df['self_intro'])
df

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,bmi,self_intro,emotion
0,1,2,7.0,0,1.540,43.0,2.0,180.0,583.0,0.00,18.131219,beautiful,-1
1,2,2,7.0,0,1.560,47.0,2.0,130.0,400.0,3.50,19.312952,enjoying being who i'm notsss,0
2,3,1,10.0,1,1.700,61.0,3.0,90.0,540.0,5.00,21.107266,practice makes perfect,0
3,4,1,10.0,0,1.700,62.0,4.0,100.0,173.0,5.00,21.453287,straightforward,0
4,5,2,10.0,1,1.580,61.4,3.0,110.6,498.6,1.20,24.595417,humorous,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,419,1,7.0,1,1.660,66.0,4.0,90.0,1000.0,1.00,23.951227,i hope i am a super hero.,0
418,420,1,2.0,1,1.760,65.0,4.0,87.0,1300.0,2.00,20.983988,god damn dope,0
419,421,1,8.0,0,1.740,72.0,3.6,155.6,260000350.0,2.10,23.781213,sunny,0
420,422,2,9.0,0,1.670,50.0,3.0,180.0,483.0,10.00,17.928215,light,0
421,423,1,1.0,1,1.716,68.0,3.0,66.0,300.0,1.26,23.092680,super 666666,0

In [ ]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score


# å‡†å¤‡ç‰¹å¾å’Œç›®æ ‡å˜é‡
X = df[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'fb_friends', 'yt', 'bmi','emotion']]
y = df['gender'] - 1  # ç¡®ä¿ç±»åˆ«æ ‡ç­¾ä»0å¼€å§‹

# å®šä¹‰ç‰¹å¾åç§°åˆ—è¡¨ï¼Œä»¥ä¾¿åç»­æ‰“å°
feature_names = X.columns

# åˆ›å»ºäº¤å‰éªŒè¯å™¨
cv = StratifiedKFold(n_splits=5)

# åˆ›å»ºä¸€ä¸ªåŒ…å«é¢„å¤„ç†æ­¥éª¤å’ŒCatBoostæ¨¡å‹çš„ç®¡é“
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # ç¼ºå¤±å€¼å¤„ç†
    ('scaler', StandardScaler()),  # ç‰¹å¾ç¼©æ”¾
    ('feature_selection', SelectKBest(f_classif, k='all')),  # ç‰¹å¾é€‰æ‹©
    ('catboost', CatBoostClassifier(verbose=0, auto_class_weights='Balanced'))  # CatBoostæ¨¡å‹
])

# ç”¨äºå­˜å‚¨æ¯æ¬¡äº¤å‰éªŒè¯çš„å‡†ç¡®ç‡
scores = []

for train_index, test_index in cv.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    # æ‹Ÿåˆç®¡é“
    pipeline.fit(X_train, y_train)
    
    # é¢„æµ‹å¹¶è®¡ç®—å‡†ç¡®ç‡
    y_pred = pipeline.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    scores.append(accuracy)
    
    # è·å–é€‰ä¸­çš„ç‰¹å¾
    support = pipeline.named_steps['feature_selection'].get_support()
    selected_features = feature_names[support]
    
    print("Selected features:", selected_features)

# æ‰“å°æ¯æ¬¡äº¤å‰éªŒè¯çš„å‡†ç¡®ç‡ä»¥åŠå¹³å‡å‡†ç¡®ç‡
print('æ¯æ¬¡äº¤å‰éªŒè¯çš„å‡†ç¡®ç‡:', scores)
print('å¹³å‡å‡†ç¡®ç‡:', sum(scores) / len(scores))

In [156]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score
import numpy as np

# å‡è®¾dfæ˜¯æ‚¨çš„DataFrame

# å‡†å¤‡ç‰¹å¾å’Œç›®æ ‡å˜é‡
# X = df[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'fb_friends', 'yt', 'bmi', 'emotion']]
X = df[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'bmi', 'emotion']]
y = df['gender'] - 1  # ç¡®ä¿ç±»åˆ«æ ‡ç­¾ä»0å¼€å§‹

# åˆ›å»ºäº¤å‰éªŒè¯å™¨
cv = StratifiedKFold(n_splits=5)

# ç‰¹å¾é¢„å¤„ç†çš„ç®¡é“ï¼Œæ³¨æ„CatBoostä¸åœ¨è¿™é‡Œ
preprocessing_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # ç¼ºå¤±å€¼å¤„ç†
    ('scaler', StandardScaler()),  # ç‰¹å¾ç¼©æ”¾
    ('feature_selection', SelectKBest(f_classif, k='all')),  # ç‰¹å¾é€‰æ‹©
])

# ç”¨äºå­˜å‚¨æ¯æ¬¡äº¤å‰éªŒè¯çš„å‡†ç¡®ç‡
scores = []

for train_index, test_index in cv.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    # æ‹Ÿåˆé¢„å¤„ç†ç®¡é“
    X_train_transformed = preprocessing_pipeline.fit_transform(X_train, y_train)
    X_test_transformed = preprocessing_pipeline.transform(X_test)
    
    # å‡†å¤‡ç‰¹å¾æƒé‡ï¼Œå‡è®¾emotionæ˜¯æœ€åä¸€ä¸ªç‰¹å¾
    feature_weights = [1] * (X_train_transformed.shape[1] - 1) + [1]  # å°†emotionç‰¹å¾çš„æƒé‡è®¾ç½®ä¸º30å€
    
    # å®šä¹‰CatBoostæ¨¡å‹
    catboost = CatBoostClassifier(verbose=0, auto_class_weights='Balanced', feature_weights=feature_weights)
    
    # æ‹ŸåˆCatBoostæ¨¡å‹
    catboost.fit(X_train_transformed, y_train)
    
    # é¢„æµ‹å¹¶è®¡ç®—å‡†ç¡®ç‡
    y_pred = catboost.predict(X_test_transformed)
    accuracy = accuracy_score(y_test, y_pred)
    scores.append(accuracy)

# æ‰“å°æ¯æ¬¡äº¤å‰éªŒè¯çš„å‡†ç¡®ç‡ä»¥åŠå¹³å‡å‡†ç¡®ç‡
print('æ¯æ¬¡äº¤å‰éªŒè¯çš„å‡†ç¡®ç‡:', scores)
print('å¹³å‡å‡†ç¡®ç‡:', np.mean(scores))

æ¯æ¬¡äº¤å‰éªŒè¯çš„å‡†ç¡®ç‡: [0.8, 0.9294117647058824, 0.9404761904761905, 0.8095238095238095, 0.9166666666666666]
å¹³å‡å‡†ç¡®ç‡: 0.8792156862745099

In [188]:
# è¯»å–æµ‹è¯•æ•°æ®å¹¶é¢„å¤„ç†
knn_test = pd.read_csv(r'test_KNN_without_outlierBNI.csv')
knn_test['self_intro'] = knn_test['self_intro'].str.lower()
knn_test['emotion'] = np.vectorize(emotion_label)(knn_test['self_intro'])

# æå–éœ€è¦çš„ç‰¹å¾åˆ—
X_knn_test = knn_test[['star_sign', 'phone_os', 'height', 'weight', 'sleepiness', 'iq', 'bmi', 'emotion']]

# ä½¿ç”¨é¢„å¤„ç†ç®¡é“å¯¹æµ‹è¯•æ•°æ®è¿›è¡Œè½¬æ¢
X_knn_test_transformed = preprocessing_pipeline.transform(X_knn_test)

# ä½¿ç”¨ CatBoost æ¨¡å‹è¿›è¡Œé¢„æµ‹
y_knn_pred = catboost.predict(X_knn_test_transformed)

# æ·»åŠ é¢„æµ‹ç»“æœåˆ°æµ‹è¯•æ•°æ®ä¸­
output = knn_test[['id']].copy()
output['gender'] = y_knn_pred + 1  # å› ä¸ºæ¨¡å‹ä¸­ç±»åˆ«æ ‡ç­¾ä»0å¼€å§‹ï¼Œéœ€è¦åŠ 1å¾—åˆ°å®é™…ç±»åˆ«

# æ˜¾ç¤ºåŒ…å«é¢„æµ‹ç»“æœçš„æµ‹è¯•æ•°æ®
output

      id  gender
0      1       1
1      2       1
2      3       2
3      4       1
4      5       2
..   ...     ...
390  391       2
391  392       1
392  393       2
393  394       1
394  395       1

[395 rows x 2 columns]

In [189]:
export_csv(output,'aaa')

In [197]:
validation = pd.read_csv(r'validation.csv')
# å‰”é™¤å«æœ‰ NA æˆ– NaN å€¼çš„è¡Œ
cleaned_test_data = validation.dropna(subset=['self_intro'])

# ä½¿ç”¨ str.contains æ–¹æ³•æŸ¥æ‰¾åŒ…å« 'fantastic' çš„è¡Œ
info_data = cleaned_test_data[cleaned_test_data['self_intro'].str.contains('')]

# è¾“å‡ºç¬¦åˆæ¡ä»¶çš„æ•°æ®
info_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro,gender.1
0,1,0,å¤©è åº§,Apple,NaN,100.0,1.0,87.000,87.0,87.0,GOod,1
1,2,0,é‡‘ç‰›åº§,Apple,175.0,80.0,3.0,130.000,2000.0,30.0,Easygoing,1
2,3,0,é›™å­åº§,Apple,155.0,45.0,3.0,150.000,400.0,9.0,I LOVE INTEL,2
3,4,0,è™•å¥³åº§,Apple,173.0,85.0,4.0,100.000,2000.0,15.0,"I'm a hard-work man, just do my best to finish...",1
4,5,0,å°„æ‰‹åº§,Android,164.0,57.0,4.0,130.000,505.0,2.0,I'm smart,2
...,...,...,...,...,...,...,...,...,...,...,...,...
390,391,0,è™•å¥³åº§,Android,160.0,48.0,3.0,75.000,98.0,2.0,Starting by Starting,2
391,392,0,NaN,Apple,170.0,NaN,NaN,105.000,510.0,NaN,A little bit smart,1
392,393,0,é‡‘ç‰›åº§,Apple,160.0,45.0,4.0,100.000,600.0,2000.0,Hi,2
393,394,0,å·¨èŸ¹åº§,NaN,180.0,NaN,NaN,199.999,NaN,60.0,"I'm not beautiful, but smart ğŸ˜€",1
394,395,0,å°„æ‰‹åº§,Apple,175.0,69.0,5.0,135.000,200.0,1400.0,Like the shadow,1

In [198]:
#ids_to_filter = [52,53, 55, 72, 97, 207, 301]
 ids_to_filter = [55]
info_data = cleaned_test_data[cleaned_test_data['id'].isin(ids_to_filter)]
info_data

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro,gender.1
51,52,0,é›™å­åº§,Windows phone,87.87,87.87,1.0,87.0,87.0,87.0,Nothing,1
52,53,0,å¤©è åº§,Apple,169.00,60.00,4.0,100.0,300.0,5.0,student in nthu,1
54,55,0,é›™å­åº§,Android,180.00,88.00,5.0,200.0,888.0,1.0,"I'm a ""Typical Lady"".",1
71,72,0,ç‰¡ç¾Šåº§,Apple,218.00,50.00,4.0,200.0,0.0,1000.0,Ez game Ez life,1
96,97,0,æ°´ç“¶åº§,Apple,170.00,54.00,5.0,100.0,666.0,99.0,wee~,1
206,207,0,æ‘©ç¾¯åº§,Apple,169.00,58.00,3.0,55.0,1.0,0.0,UUUU,1
300,301,0,é‡‘ç‰›åº§,Apple,160.00,76.00,5.0,100.0,0.0,10.0,entrepreneur who intent to learn again,1

In [123]:
#0402äººå·¥æ¨™è¨˜
#16 1 to 2
#55 1 to 2
#56 1 to 2
#78 1 to 2
#100 1 to 2
#271 1 to 2

In [193]:
import pandas as pd

# è¯»å–ä¸¤ä¸ªæ–‡ä»¶
high = pd.read_csv(r'high.csv')
low = pd.read_csv(r'low.csv')

# åˆå¹¶ä¸¤ä¸ª DataFrameï¼Œæ ¹æ® id åˆ—è¿›è¡Œåˆå¹¶
merged = pd.merge(high, low, on='id', suffixes=('_high', '_low'))

# æ‰¾å‡º gender ä¸åŒçš„è¡Œ
different_gender = merged[merged['gender_high'] != merged['gender_low']]

# æ‰“å°ç»“æœ
print(different_gender)

      id  gender_high  gender_low
51    52            1           2
52    53            1           2
54    55            1           2
71    72            1           2
96    97            1           2
206  207            1           2
300  301            1           2

In [59]:
##æœ‰å•é¡Œè³‡æ–™
# 394 (I'm not beautiful, but smart)
# 16 (A young girl)
# 78 (I am a girl)
# 13 (Adorable)
# 55 (I'm a "Typical Lady".)
# 56 (I am so cuuuuuuute!)
# 100 (im cute)
# 189 (æ²’è³‡æ–™)
# 271 (>.0)

In [19]:
raw_data['self_intro'] = raw_data['self_intro'].str.lower()
info_data = raw_data[raw_data['self_intro'].str.contains('fantastic')]
info_data

Empty DataFrame
Columns: [id, gender, star_sign, phone_os, height, weight, sleepiness, iq, fb_friends, yt, self_intro]
Index: []

In [25]:
data_with_chinese = test_data[test_data['self_intro'].str.contains(r'[\u4e00-\u9fff]+', na=False)]
data_with_chinese

,id,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
102,103,0,å·¨èŸ¹åº§,Apple,172.0,90.0,4.0,120.0,100.0,0.3,èªçœŸçš„ç”·äºº
103,104,0,é‡‘ç‰›åº§,Android,173.0,84.0,5.0,150.0,250.0,10.0,é–‹æœ—æ¨‚è§€
244,245,0,å·¨èŸ¹åº§,Apple,178.0,73.0,4.0,145.0,135.0,200.0,æ‡¶
270,271,0,å¤©ç§¤åº§,Android,163.0,1.0,2.0,111.0,190.0,0.0,>.0å•¾å’ª
386,387,0,æ‘©ç¾¯åº§,Apple,153.0,60.0,2.0,150.0,700.0,2.0,å¯æ„›